<%= simple_form_for([@parent_collection, @collection].compact) do |f| %>
  <%= f.error_notification %>


<div class="tabs">
  <nav class="tab-head">
  <ul>
    <li><a href="#standard">Standaard</a></li>
    <li><a href="#stages">Projectfasering</a></li>
    <li><a href="#advanced">Geavanceerd</a></li>
  </ul>
  </nav>
    <section id="standard">
      <h3>Standaard instellingen</h3>
      <div class="form-inputs">
        <div class="row">
          <div class="medium-10 columns">
            <%= f.input :name %>

          </div>
          <div class="medium-2 columns">
            <%= f.input :external_reference_code %>
          </div>
        </div>
        <div class="row">
          <div class="medium-8 columns">
            <%= f.input :description %>
            <%= f.input :internal_comments %>
          </div>
          <div class="medium-4 columns">
            <div class="callout">
              <h5>Uitleg</h5>
              <p>In deze tekstvelden kun je beperkt de tekst opmaken met behulp van <a href="https://nl.wikipedia.org/wiki/Markdown" target="_blank">Markdown</a>.</p>
              <pre>
  # Kop 1
  ## Kop 2
  …
  ###### Kop 6

  **Vet** *Cursief*

  * Opsomming
  * Opsomming

  1. Opsomming genummerd
  2. Opsomming genummerd

  [Link](http://example.com)

</pre>
            </div>
          </div>
        </div>
        <label>Collectie lokaliteiten</label>
        <%= f.select :geoname_summary_ids, @collection.geoname_summary_values, {}, multiple: true, class: 'select2 ajax' %>
        <% unless @parent_collection %>
          <%= f.association :parent_collection, collection: @collection.possible_parent_collections%>
        <% end%>
      </div>
    </section>
    <section id="stages">
      <h3>Projectfasering</h3>
      <p>Hieronder kies je de fases die geldig zijn voor deze collectie. Op de overzichtspagina kan een fase als voltooid worden gemarkeerd.</p>
      <%= f.association :stages, as: :check_boxes, collection: Stage.actual_stages %>

    </section>
    <section id="advanced">
      <h3>Geavanceerd</h3>
     <fieldset class="form-inputs">
       <legend>Labels voor de 'alternatieve nummers'</legend>
       <p>Standaard is er sprake van alt. nr. 1 t/m 3, in dit scherm kun je ze overschrijven zodat bij het invoeren, het tonen en het uitdraaien voor iedereen duidelijk is welke getallen wat representeren.</p>
       <%= f.input :label_override_work_alt_number_1 %>
       <%= f.input :label_override_work_alt_number_2 %>
       <%= f.input :label_override_work_alt_number_3 %>
     </fieldset>

    </section>
</div>




  <div class="form-actions">
    <p><br/></p>
    <%= f.button :submit, class: :button %>
  </div>
<% end %>
