<%= simple_form_for([@parent_collection, @collection].compact) do |f| %>
  <%= f.error_notification %>


<div class="tabs">
  <nav class="tab-head" aria-label="Collectieinstellingen">
  <ul>
    <li><a href="#standard">Standaard</a></li>
    <li><a href="#stages">Projectfasering</a></li>
    <li><a href="#manage">Beheer</a></li>
  </ul>
  </nav>
  <section id="standard">
    <h3>Standaard instellingen</h3>
    <div class="form-inputs">
      <div class="row">
        <div class="medium-10 columns">
          <%= f.input :name %>

        </div>
        <div class="medium-2 columns">
          <%= f.input :external_reference_code %>
        </div>
      </div>
      <div class="row">
        <div class="medium-8 columns">
          <%= f.input :description %>
          <%= f.input :internal_comments %>
        </div>
        <div class="medium-4 columns">
          <div class="callout">
            <h5>Uitleg</h5>
            <p>In deze tekstvelden kun je beperkt de tekst opmaken met behulp van <a href="https://nl.wikipedia.org/wiki/Markdown" target="_blank">Markdown</a>.</p>
            <pre>
# Kop 1
## Kop 2
…
###### Kop 6

**Vet** *Cursief*

* Opsomming
* Opsomming

1. Opsomming genummerd
2. Opsomming genummerd

[Link](http://example.com)

</pre>
          </div>
        </div>
      </div>
      <label>Collectie lokaliteiten</label>
      <%= f.select :geoname_summary_ids, @collection.geoname_summary_values, {}, multiple: true, class: 'select2 geoname-select' %>
      <% unless @parent_collection %>
        <%= f.association :parent_collection, collection: @collection.possible_parent_collections(user: current_user).sort_by(&:to_label), input_html: {class: 'chosen-select'}%>
      <% end%>
    </div>
  </section>
  <section id="stages">
    <h3>Projectfasering</h3>
    <p>Hieronder kies je de fases die geldig zijn voor deze collectie. Op de overzichtspagina kan een fase als voltooid worden gemarkeerd.</p>
    <%= f.association :stages, as: :check_boxes, collection: Stage.actual_stages %>
  </section>
  <section id="manage">
    <h3>Beheer</h3>
    <% if @collection.persisted? %>
      <fieldset class="form-inputs warning">
        <p>Wanneer je kiest voor het verwijderen van een collectie worden ook alle onderliggende werken definitief verwijderd, <em>tenzij</em> er een bovenliggende collectie is, dan worden de werken naar deze bovenliggende collectie verplaatst.</p>
        <p><%= link_to 'Verwijder collectie', @collection, method: :delete, class: [:warning, :button], data: { confirm: "Je verwijderd collectie #{@collection.name} inclusief alle onderliggende subcollecties. Wanneer er geen bovenliggende collectie is worden de werken definitief verwijderd. Deze werken zijn niet terug te halen. Wil je doorgaan? "} %></p>
      </fieldset>
    <% end %>
    <fieldset class="form-inputs">
      <legend>Labels voor de 'alternatieve nummers'</legend>
      <p>Standaard is er sprake van alt. nr. 1 t/m 3, in dit scherm kun je ze overschrijven zodat bij het invoeren, het tonen en het uitdraaien voor iedereen duidelijk is welke getallen wat representeren.</p>
      <%= f.input :label_override_work_alt_number_1 %>
      <%= f.input :label_override_work_alt_number_2 %>
      <%= f.input :label_override_work_alt_number_3 %>
    </fieldset>
    <fieldset class="form-inputs">
      <legend>Sortering</legend>
      <%= f.input :sort_works_by, collection: Work::SORTING_FIELDS.collect{|a| [I18n.t(a, scope: [:activerecord, :attributes, :work]),a]}, hint: "Wanneer je sortering leeg laat wordt er standaard gesorteerd, en dat is op 'Inventarisnummer'.
        De directe subcollecties 'erven' deze
        instelling (maar kunnen deze instelling overschrijven). Wanneer de instelling niet is overschreven én er is een instelling
        op een bovenliggende collectie dan wordt het volgende werk gekozen uit alle werken uit de bovenliggende collectie en alle
        subcollecties. Deze bijzondere logica maakt het wellicht geen instelling die je op alle collecties wilt voeren; dus bij twijfel
        uit laten staan." %>
    </fieldset>
    <fieldset class="form-inputs">
      <legend>Basis collectie</legend>
      <%= f.input :base, hint: "Selecteer 'basis collectie' wanneer deze collectie de thema's en clusters dient te bevatten voor alle onderliggende collecties. Hierna worden de thema's en collecties automatisch gekoppeld aan deze collectie. Dit laatste kan niet meer teruggedraaid worden."%>
    </fieldset>
    <fieldset class="form-inputs">
      <legend>Overige opties</legend>
      <%= f.input :appraise_with_ranges, hint: "Standaard wordt gewaardeerd met willekeurige prijzen, als deze optie is ingeschakeld kan er slechts gekozen worden uit een beperkt aantal prijsranges." %>
      <%= f.input :show_library, hint: "Activeert bibliotheek functie (referenties naar niet-digitale documentatie)" %>
      <%= f.input :show_availability_status, hint: "Wanneer beschikbaarheid wordt gebruikt in een collectie wordt deze hiermee zichtbaar gemaakt." %>
    </fieldset>
  </section>
</div>

  <div class="form-actions">
    <p><br/></p>
    <%= f.button :submit, class: :button %>
  </div>
<% end %>
