<nav class='sub-nav hide-for-print'>
  <% if qkunst_user? %><%= link_to "Voeg nieuw werk toe", new_collection_work_path(@collection), class: 'small button right' %><% end %>
  <% if current_user.can_write_messages? %>
  <% if @work%>
    <%= link_to 'Vraag of opmerking over dit werk?', collection_messages_path(@collection), class: 'secondary small button right', data: { open_in_context: true} if current_user.can_write_messages?%>

  <% else %>
    <%= link_to 'Vraag of opmerking over deze collectie?', collection_messages_path(@collection), class: 'secondary small button right', data: { open_in_context: true} if current_user.can_write_messages?%>
  <% end%>
  <% end %>
<ul class="menu simple">
  <li><strong><%= menu_link_to @collection.name, collection_path(@collection)%>:</strong></li>
  <li><%= menu_link_to "Overzicht", collection_path(@collection), only_exact_path_match: true %></strong></li>
  <li><%= menu_link_to "Werken", collection_works_path(@collection)%></li>
  <li><%= menu_link_to "Rapportage", collection_report_path(@collection) if current_user.can_access_report? %></li>


  <li><%= menu_link_to "Thema's", collection_themes_path(@collection) if admin_user?%></li>
  <li><%= menu_link_to "Import", collection_import_collections_path(@collection) if admin_user?%></li>


</ul>
</nav>
