<nav class="row columns sub-nav hide-for-print">
<ul class="menu right">
  <% if qkunst_user? %>
    <li class="right"><%= link_to "+ Voeg werk toe", new_collection_work_path(@collection), class: 'small button' %></li>
  <% end %>
  <% if current_user.can_write_messages? %>
    <% if @work%>
      <% if @work.id %>
        <li class="right"><%= link_to (current_user.admin? ? 'Vraag of opmerking?' : 'Vraag of opmerking over dit werk?'), collection_work_messages_path(@collection, @work), class: qkunst_user? ? 'secondary small button' : 'small button', data: { open_in_context: true} if current_user.can_write_messages?%></li>
      <% end%>
    <% else %>
      <li class="right"><%= link_to (current_user.admin? ? 'Vraag of opmerking?' : 'Vraag of opmerking over deze collectie?'), collection_messages_path(@collection), class: qkunst_user? ? 'secondary small button' : 'small button', data: { open_in_context: true} if current_user.can_write_messages?%></li>
    <% end%>
  <% end %>

</ul>
<ul class="menu simple">

  <li><strong><%= menu_link_to @collection.name, collection_path(@collection)%>:</strong></li>
  <li><%= menu_link_to "Overzicht", collection_path(@collection), only_exact_path_match: true %></li>
  <li><%= menu_link_to "Werken", collection_works_path(@collection)%></li>
  <li><%= menu_link_to (current_user.facility_manager? ? "Locaties" : "Rapportage"), collection_report_path(@collection) if can? :read_report, @collection %></li>
  <li><%= menu_link_to "Herinneringen", collection_reminders_path(@collection) if admin_user? %></li>
  <li><%= menu_link_to "Clusters", collection_clusters_path(@collection) if admin_user? %></li>
  <li><%= menu_link_to "Kunstenaars", collection_artists_path(@collection) if admin_user? %></li>


  <li><%= menu_link_to "Thema's", collection_themes_path(@collection) if admin_user?%></li>
  <li><%= menu_link_to "Import", collection_import_collections_path(@collection) if admin_user?%></li>


</ul>
</nav>
