<nav class="sub-nav hide-for-print" aria-label="collection navigation">

<ul class="menu simple left hide-for-small-only">

  <li><strong><%= menu_link_to @collection.name, collection_path(@collection)%>:</strong></li>
  <li><%= menu_link_to "Overzicht", collection_path(@collection), only_exact_path_match: true %></li>
  <li><%= menu_link_to "Werken", collection_works_path(@collection)%></li>
  <li><%= menu_link_to "Rapportage", collection_report_path(@collection) if can? :read_report, @collection %></li>
  <li><%= menu_link_to "Vervaardigers", collection_artists_path(@collection) if can? :read, Artist %></li>
  <li><%= menu_link_to "Clusters", collection_clusters_path(@collection) if can? :review_collection, Cluster %></li>
  <li><%= menu_link_to "Beheer", collection_manage_path(@collection) if can? :review, Collection %></li>
</ul>

<ul class="menu right-aligned menu--only-buttons">
  <% if qkunst_user? %>
    <li><%= link_to "+ Voeg werk toe", new_collection_work_path(@collection), class: 'small button' %></li>
  <% end %>


  <% if can? :create, @collection.messages.new %>
    <% if @work%>
      <% if @work.id %>
        <li><%= link_to 'Vraag of opmerking?', collection_work_messages_path(@collection, @work), class: qkunst_user? ? 'secondary small button' : 'small button', data: { open_in_context: true} %></li>
      <% end%>
    <% else %>
      <li><%= link_to 'Vraag of opmerking?', collection_messages_path(@collection), class: qkunst_user? ? 'secondary small button' : 'small button', data: { open_in_context: true} %></li>
    <% end%>
  <% end %>
  <li><%= link_to "Scan", collection_mobile_path(@collection), class: 'small button secondary' %></li>

  <li>
    <%= form_tag collection_works_path(@collection), method: :get, authenticity_token: false, data: {auto_submit: true} do %>
      <%= text_field_tag :q, @search_text, type: :search, placeholder: "Zoek... ", title: "Zoek hier", class: "input-group-field"%>
    <% end %>
  </li>


</ul>
</nav>
