<nav class="sub-nav hide-for-print" aria-label="collection navigation">

<ul class="menu simple left hide-for-small-only">

  <li><strong><%= menu_link_to @collection.name, collection_path(@collection)%>:</strong></li>
  <li><%= menu_link_to "Overzicht", collection_path(@collection), only_exact_path_match: true unless can?(:review_collection_users, @collection) || can?(:review, @collection) %></li>
  <li><%= menu_link_to "Werken", collection_works_path(@collection)%></li>
  <li><%= menu_link_to "Rapportage", collection_report_path(@collection) if can? :read_report, @collection %></li>
  <li><%= menu_link_to "Vervaardigers", collection_artists_path(@collection) if can? :read, Artist %></li>
  <li><%= menu_link_to "Bibliotheek", collection_library_items_path(@collection) if can? :read, LibraryItem %></li>
  <li><%= menu_link_to "Clusters", collection_clusters_path(@collection) if can? :review_collection, Cluster %></li>
  <li><%= menu_link_to "Beheer", collection_manage_path(@collection) if can?(:review_collection_users, @collection) || can?(:review, @collection) %></li>
</ul>

<ul class="menu right-aligned menu--only-buttons">
  <% if can? :create, @collection.works.new %>
    <li><%= link_to "+ Voeg werk toe", new_collection_work_path(@collection), class: 'small button' %></li>
  <% end %>


  <% if can? :create, @collection.messages.new %>
    <% messages_url = (@work && @work.id) ? collection_work_messages_path(@collection, @work) : collection_messages_path(@collection) %>
    <% _messages = (@work && @work.id) ? @work.messages : @collection.messages %>
    <% _messages = _messages.conversation_starters.thread_can_be_accessed_by_user(current_user) %>
    <% messages_count = _messages.count %>
    <li>
      <%= link_to messages_url, class: qkunst_user? ? 'secondary small button' : 'small button', data: { open_in_context: true} do %>
        Vraag of opmerking?
        <% if messages_count > 0 %>
          <span class="badge"><%=messages_count%></span>
        <% end %>
      <% end %>
    </li>
  <% end %>
  <% if can? :batch_edit, @collection %>
    <li><%= link_to "Scan", collection_batch_path(@collection), class: 'small button secondary' %></li>
  <% end %>

  <li>
    <%= form_tag collection_works_path(@collection), method: :get, authenticity_token: false, data: {auto_submit: true} do %>
      <%= text_field_tag :q, @search_text, type: :search, placeholder: "Zoek... ", title: "Zoek hier", class: "input-group-field"%>
    <% end %>
  </li>


</ul>
</nav>
