<% if admin_user? %>
<dl class="sub-nav">
  <dd class="right"><%= link_to 'Maak een nieuwe collectie', new_collection_path, class: 'small button' %></dd>
</dl>
<% end %>

<% if @collections.count == 1%>
<h1>Collecties</h1>
  <p>Naar de collectie <%= link_to @collections.first.name, @collections.first%></p>
<% else %>
  <h1>Overzicht van de collecties </h1>
  <div class="row">
    <div class="medium-9 columns">
      <label>Zoek op naam van de collectie<input type="search" class="list-filter" data-filters="list-to-filter"></label>
      <% cache([Collection.last_updated, Work.count, current_user, '1']) do %>
      <ul id="list-to-filter" class="collapsable">
        <% @collections.each do |collection| %>
          <%= render collection%>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
localStorage.setItem('collections', JSON.stringify(<%= Collection.all.to_json(only: [:id, :name]).html_safe %>));
localStorage.setItem('qkunst_user', <%= qkunst_user? %>);
</script>