<header class="row">
  <div class="large-12 columns">
    <% if @collection.parent_collection && !@collection.parent_collection.system? %>
      Maakt deel uit van:
      <%= sanitize @collection.parent_collections_flattened.collect{|a| a.can_be_accessed_by_user(current_user) ? link_to(a.name,a) : a.name}.join(" &raquo; ")%>
    <% end %>

    <h1><%= @collection.name %></h1>
    <%= kramdown( @collection.description) %>

  </div>

</header>
<nav class="sub-nav bottom-nav hide-for-print" aria-label="Collectie-acties">
  <ul class="menu right-aligned menu--only-buttons">
    <% if can?(:edit, @collection) %>
      <%= link_to 'Bewerk gegevens', edit_collection_path(@collection), class: 'primary small button' %>
    <% end %>
  </ul>
</nav>

<div class="row">
<div class="large-9 medium-9 columns">
<%= render :partial => 'collection_stages_graph' %>

<h3>Werken</h3>
<%= form_tag collection_works_path(@collection), method: :get, authenticity_token: false, data: {auto_submit: true}, class: [:secondary, :callout] do %>
<label for="q">Doorzoek de werken:</label>
<div class="input-group">
  <%= text_field_tag :q, @search_text, type: :search, placeholder: "Zoeken... ", class: "input-group-field"%>
  <div class="input-group-button">
  <%= submit_tag("Zoeken", class: :button)%>
  </div>
</div>
<p class="hint"><small>Probeer ook eens: <%=["“wildc*rd”", "“één OR ander”", "“\"exacte match\"”", "“fuzzy~”"].sample(2).join(" of ")%></small></p>
<% end %>

<div class="row">
  <div class="large-12 columns">
<%= render @collection.works_including_child_works.order(grade_within_collection: :asc, market_value: :desc)[0..3]%>
  </div>
</div>
<p><%= link_to "Toon alle #{translate_extended_count(@collection.works_including_child_works)}", collection_works_path(@collection) %></p>
<% if @collection.internal_comments? and qkunst_user? %>
<h3>Interne opmerkingen</h3>
<%= kramdown(@collection.internal_comments) %>
<% end %>
  <h3>Subcollecties</h3>
  <% if @collections.count > 0 %>
    <ul>
      <%= render @collections%>
    </ul>
  <% else %>
  <p>Deze collectie kent geen subcollecties.</p>
  <% end %>
  <%= link_to 'Voeg nieuwe subcollectie voor deze collectie toe', new_collection_collection_path(@collection) if can? :create, @collection.collections.new%>

</div>

<% if can?(:create, @collection.attachments.new) or @collection.attachments.for_me(current_user).count > 0 %>
<aside class="large-3 medium-3 columns" style="margin-top: 1em">
  <h3>Bijlagen</h3>
  <ul>
    <% @attachments.each do |attachment| %>
      <li><%= link_to attachment.file_name.truncate(30, omission: "…#{attachment.file_name.last(15)}"), attachment.file.url, title: attachment.file_name, download: attachment.file_name %> <small>(<%= number_to_human_size(attachment.file.size)%>)</small></li>
    <% end %>
  </ul>
  <% if can? :create, @collection.attachments.new %>
    <p><%= link_to 'Beheer bijlagen', collection_attachments_path(@collection) %></p>
  <% end %>
  <% if @collection.external_reference_code? %>
  <p><strong>Referentiecode:</strong><%=@collection.external_reference_code%></p>
  <% end %>
</aside>
<% end %>
</div>

<% content_for :footer do %>
<p><%= I18n.t "collection.disclaimer", default: "" %></p>
<% end %>