<header class="row">
  <div class="large-12 columns">
    <% if @collection.parent_collection %>
      Maakt deel uit van:
      <%= @collection.parent_collections_flattened.collect{|a| a.can_be_accessed_by_user(current_user) ? link_to(a.name,a) : a.name}.join(" &raquo; ").html_safe%>
    <% end %>

    <h1><%= @collection.name %>  <% if can?(:edit, @collection) %>
          <small>(<%= link_to 'Bewerk gegevens', edit_collection_path(@collection) %>)</small>
        <% end %></h1>
  </div>

</header>
<div class="row">
<div class="large-9 medium-9 columns">
<%= render :partial => 'collection_stages_graph' %>
<%= kramdown( @collection.description) %>

<h3>Werken</h3>
<%= form_tag collection_works_path(@collection), method: :get, authenticity_token: false, data: {auto_submit: true}, class: [:secondary, :callout] do %>
<label for="q">Doorzoek de werken:</label>
<div class="input-group">
  <%= text_field_tag :q, @search_text, type: :search, placeholder: "Zoeken... ", class: "input-group-field"%>
  <div class="input-group-button">
  <%= submit_tag("Zoeken", class: :button)%>
  </div>
</div>
<p class="hint"><small>Probeer ook eens: <%=["“wildc*rd”", "“één OR ander”", "“\"exacte match\"”", "“fuzzy~”"].sample(2).join(" of ")%></small></p>
<% end %>

<div class="row">
  <div class="large-12 columns">
<%= render @collection.works_including_child_works.order(grade_within_collection: :asc, market_value: :desc)[0..3]%>
  </div>
</div>
<p><%= link_to "Toon alle #{@collection.works_including_child_works.count} werken", collection_works_path(@collection) %></p>
<% if @collection.internal_comments? and qkunst_user? %>
<h3>Interne opmerkingen</h3>
<%= kramdown(@collection.internal_comments) %>
<% end %>
  <h3>Subcollecties</h3>
  <% if @collections.count > 0 %>
    <ul>
      <%= render @collections%>
    </ul>
  <% else %>
  <p>Deze collectie kent geen subcollecties.</p>
  <% end %>
  <%= link_to 'Nieuwe subcollectie voor deze collectie', new_collection_collection_path(@collection), class: 'small button' if can? :create, @collection.collections.new%>

</div>
<% if can?(:download_datadump, @collection) or can?(:download_photos, @collection) or @collection.attachments.for_me(current_user).count > 0 %>
<aside class="large-3 medium-3 columns" style="margin-top: 1em">
  <h3>Downloads</h3>
  <ul>
    <% if can? :download_datadump, @collection  %>
      <li><%=link_to "Alle Werken.xlsx", collection_works_path(@collection, format: :xlsx, params: {audience: :default}) %></li>
      <!-- <li><%=link_to "Alle Werken.json", api_v1_collection_works_path(@collection, format: :json) %></li> -->
      <% if @collection.name.to_s.match "Provincie Gelderland" %>
        <li><%=link_to "Export Erfgoed Gelderland.xlsx", collection_works_path(@collection, format: :xlsx, params: {audience: :erfgoed_gelderland, published: true}) %></li>
      <% end %>
      <!-- <li><%=link_to "Excel HPD output", collection_works_path(@collection, format: :xlsx, params: {audience: :hpd}) %></li> -->
    <% end %>
    <% if can? :download_photos, @collection  %>
      <li><%=link_to "Foto's.zip", collection_works_path(@collection, format: :zip) %> <small>(<%= number_to_human_size(@collection.works_including_child_works.count * 2 * 417582 )%> (schatting))</small></li>
      <li><%=link_to "Foto's (alleen voor).zip", collection_works_path(@collection, format: :zip, params: {only_front: true, published: true}) %> <small>(<%= number_to_human_size(@collection.works_including_child_works.count * 417582 )%> (schatting))</small></li>
    <% end %>
  </ul>
  <hr/>
  <ul>
    <% @attachments.each do |attachment| %>
      <li><%= link_to attachment.file_name.truncate(30, omission: "…#{attachment.file_name.last(15)}"), attachment.file.url, title: attachment.file_name, target: '_blank' %> <small>(<%= number_to_human_size(attachment.file.size)%>)</small></li>
    <% end %>
  </ul>
  <% if can? :create, @collection.attachments.new %>
    <%= link_to 'Bijlage toevoegen', new_collection_attachment_path(@collection), class: 'primary button', data: { open_in_context: true}%>
    <p><%= link_to 'Beheer bijlagen', collection_attachments_path(@collection) %></p>
  <% end %>
  <% if @collection.external_reference_code? %>
  <p><strong>Referentiecode:</strong><%=@collection.external_reference_code%></p>
  <% end %>
</aside>
<% end %>
</div>




