<header class="row">
  <div class="large-12 columns">
    <% if @collection.parent_collection %>
      Maakt deel uit van:
      <%= @collection.parent_collections_flattened.collect{|a| a.can_be_accessed_by_user(current_user) ? link_to(a.name,a) : a.name}.join(" &raquo; ").html_safe%>
    <% end %>

    <h1><%= @collection.name %>  <% if qkunst_user? %>
          <small>(<%= link_to 'Bewerk gegevens', edit_collection_path(@collection) %>)</small>
        <% end %></h1>
  </div>

</header>








<div class="row">
<div class="large-9 medium-9 columns">
<% if @collection.collections_stages? %>
  <h3>Projectfase</h3>
  <%= render :partial => 'stages/stages_graph', locals: {collection: @collection, compact: true} %>
<% elsif parent_collection = @collection.parent_collection_with_stages %>
  <h3>Projectfasering</h3>
  <p><em>Let op:</em> Deze fasering komt uit de bovenliggende collectie <%= link_to parent_collection.name, parent_collection %>.</p>
  <%= render :partial => 'stages/stages_graph', locals: {collection: parent_collection, compact: true} %>
<% end %>
<%= kramdown( @collection.description) %>

<h3>Werken</h3>
<div class="row">
  <div class="large-12 columns">
<%= render @collection.works_including_child_works.order(grade_within_collection: :asc, market_value: :desc)[0..3]%>
  </div>
</div>
<p><%= link_to "Toon alle #{@collection.works_including_child_works.count} werken", collection_works_path(@collection) %></p>
<% if @collection.internal_comments? and qkunst_user? %>
<h3>Interne opmerkingen</h3>
<%= kramdown(@collection.internal_comments) %>
<% end %>
  <h3>Subcollecties</h3>
  <% if @collection.child_collections.count > 0 %>
    <ul>
      <%= render @collection.child_collections%>
    </ul>
  <% else %>
  <p>Deze collectie kent geen subcollecties.</p>
  <% end %>
  <%= link_to 'Nieuwe subcollectie voor deze collectie', new_collection_collection_path(@collection), class: 'small button' if admin_user?%>

</div>
<% if current_user.can_download? %>

<aside class="large-3 medium-3 columns" style="margin-top: 1em">
  <h3>Downloads</h3>
  <ul>
    <% if current_user.admin? %>
      <li><%=link_to "Alle Werken.xlsx", collection_works_path(@collection, format: :xlsx, params: {audience: :default}) %></li>
      <!-- <li><%=link_to "Alle Werken.json", api_v1_collection_works_path(@collection, format: :json) %></li> -->
    <% end %>
    <!-- <li><%=link_to "Excel HPD output", collection_works_path(@collection, format: :xlsx, params: {audience: :hpd}) %></li> -->
    <li><%=link_to "Foto's.zip", collection_works_path(@collection, format: :zip) %> <small>(<%= number_to_human_size(@collection.works_including_child_works.count * 2 * 400000 )%> (schatting))</small></li>
  </ul>
  <hr/>
  <ul>
    <% @collection.attachments.for_me(current_user).each do |attachment| %>
      <li><%= link_to attachment.file_name.truncate(30, omission: "…#{attachment.file_name.last(15)}"), attachment.file.url, title: attachment.file_name, target: '_blank' %> <small>(<%= number_to_human_size(attachment.file.size)%>)</small></li>
    <% end %>
  </ul>
  <% if current_user.admin? %>
    <%= link_to 'Bijlage toevoegen', new_collection_attachment_path(@collection), class: 'primary button', data: { open_in_context: true}%>
    <p><%= link_to 'Beheer bijlagen', collection_attachments_path(@collection) %></p>
  <% end %>
  <% if @collection.external_reference_code? %>
  <p><strong>Referentiecode:</strong><%=@collection.external_reference_code%></p>
  <% end %>
</aside>
<% end %>
</div>




