<h2>Oppervlakte berekeningen voor <%= @collection.name %></h2>
<% [0,3].each do | margin | %>
<% @stats = surface_statistics(@collection.works_including_child_works, margin: ) %>
<% if margin > 0 %>
  <h3>Met marge</h3>
  <p>Bij dit overzicht wordt rekening gehouden met een marge van <%= 2*margin %> cm tussen de onderdelen voor de oppervlakte berekening. Merk op dat zelfs dit een onderschatting zal zijn van de totale benodigde oppervlakte, er is geen rekening gehouden met grootte van de muren en/of onhandige formaten.</p>
<% end %>
<table>
    <thead>
        <tr>
            <th>Type</th>
            <th>Aantal werken</th>
            <th>Oppervlak (m<sup>2</sup>)</th>
            <th>Grootste object (m<sup>2</sup>)</th>
        </tr>
    </thead>
    <tbody>
        <% %i[large_floor small_floor large_wall small_wall small_paper_and_frameless large_paper_and_frameless].each do |subset| %>
            <tr>
                <th><%= link_to t(".#{subset}"), collection_works_path(@collection, work_display_form: {display: :complete}, **id_parameter_with_conditional_id_hash(@stats[:"#{subset}_ids"]), surface_calc:true) %></th>
                <td class="number"><%= number_with_delimiter @stats[:"#{subset}_count"] %></td>
                <td class="number"><%= number_with_delimiter @stats[:"#{subset}_sum"]&.round(1) %></td>
                <td class="number"><%= number_with_delimiter @stats[:"#{subset}_max"]&.round(1) %></td>
            </tr>
        <% end %>
        <tr>
            <th><%= link_to "Onbekend", collection_works_path(@collection, work_display_form: {display: :complete}, filter: {object_format_code: [:not_set]}, surface_calc:true) %></th>
            <td class="number"><%= number_with_delimiter @stats[:surface_less_works_count] %></td>
        </tr>
    </tbody>


</table>
<% end %>
<p>
<%= link_to "Toon alle werken met oppervlakte berekening", collection_works_path(@collection, work_display_form: {display: :complete}, surface_calc:true) %>
</p>
<% content_for :footer do %>
<p>Deze berekening is gemaakt op <%= I18n.l Time.current, format: :long %>. </p>
<% end %>
