<% @form_message = @new_reply_message || @message%>
<%= simple_form_for([@collection, @work, @form_message].compact) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs"  id="start_reply">
    <%= f.input :subject, as: :string unless @message.persisted? %>
    <%= f.input :message %>
    <%= f.input :in_reply_to_message_id, as: :hidden%>
    <input type="hidden" value="<%=request.path%>" name="referrer">
    <%#= f.input :just_a_note %>
    <% if current_user.qkunst? %>
      <%= f.input :qkunst_private %>
    <% end %>
    <br/>
    <%= f.input :image %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, value: @form_message.id ? "Bericht bijwerken" : "Bericht versturen", class: 'button' %>
  </div>
<% end %>
