<h2>Conversaties</h2>
<p>Stel een vraag of laat een opmerking achter. Gaat het om een specifiek werk of collectie, maak dan gebruik van de knop om een vraag te stellen of een opmerking te maken bij die collectie of dat werk. Alle berichten zijn in te zien door QKunst administratoren.</p>
<div id="main">
<% if @work %>
  <p>Stel een vraag aan een QKunst medewerker over dit werk of plaats een opmerking.</p>
<% elsif @collection %>
  <p>Stel een vraag aan een QKunst medewerker over deze collectie of plaats een opmerking.</p>
<% end %>
<% if @work or @collection%>
<hr/>
<%= render 'form' %>


<% end %>
<h3>Eerdere conversaties</h3>
<table class="conversations">
  <thead>
    <tr>
      <th>Van gebruiker</th>
      <th>Collectie</th>
      <th>Onderwerp</th>
      <th>Datum</th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <%
        collectie = ""
        begin
          collectie = message.subject_object.name if message.subject_object.is_a?(Collection)
          collectie = message.subject_object.collection.name if message.subject_object.is_a?(Work)
        rescue
        end

      %>
      <tr class="<%= 'unread' if message.unread_messages_in_thread(current_user) %>">
        <td>
          <% if message.unread_messages_in_thread  %>
            <span class="label primary round unread" title="ongelezen"><span>ongelezen</span></span>
          <% end %>
          <% if current_user.qkunst? %>
            <strong><%= message.from_user_name %></strong>
          <% else %>
            <strong><%= message.from_user_name_without_email %></strong>
          <% end %>
        </td>
        <td> <%=collectie%></td>
        <td><%= link_to message.subject_rendered, message %>
          <ul class="labels right">
            <% if message.qkunst_private %>
              <li class="label round qkunst_private qkunst">QKunst Intern</li>
            <% end %>
            <% if message.just_a_note %>
              <li class="label round just_a_note secondary">Notitie</li>
            <% end %>
          </ul>
        </td>
        <td><%= I18n.l message.created_at, format: :short %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
