<div class="row">
<div id="main" class="medium-9 columns">
  <%= render @message %>
  <%= render @other_messages %>
  <h3>Antwoord</h3>
  <%= render 'form' %>

</div>
<aside class="medium-3 columns">
  <% if can?(:complete, @message) && @message.unread_messages_in_thread %>
    <%= button_to "Markeer conversatie als afgerond", message_url(@message), method: :patch, params: {message: {actioned_upon_by_qkunst_admin: true} }, class: :button %>
  <% end %>
  <% if @message.actioned_upon_by_qkunst_admin? %>
    <p>Deze conversatie is gemarkeerd als afgerond op <%= (@message.conversation + [@message]).map{ |message| message.actioned_upon_by_qkunst_admin_at&.to_date }.compact.uniq.sort.map{|date| I18n.l(date, format: :long) }.to_sentence %></p>
  <% end %>
  <% if @message.subject_url%>
    <h4>Context</h4>
    <p>Deze conversatie vindt plaats in de context van:</p>
    <div class="row">
      <div class="large-12 columns">
        <% if @message.subject_object %>
          <%= render @message.subject_object %>
        <% else %>
          <p><em>Het onderwerp is verwijderd</em></p>
        <% end %>
      </div>
    </div>
    <%= link_to 'Ga naar het onderwerp →', @message.subject_url, class: 'small button'%>
  <% end %>
</aside>
</div>