<div class="row columns">
  <%= simple_form_for([@collection, @appraisee, @appraisal]) do |f| %>
  <p>Raadpleeg <a href="https://drive.google.com/drive/folders/1yEY2MH4r4JrU3RHASbk73g_Qd7SGjzZP?usp=sharing" target="_blank">de documentatiemap 'Taxatiemodule'</a> voor de werkwijze en referenties.</p>
  <%= f.error_notification %>

  <div class="form-inputs">
  <div class="row">
    <div class="medium-12 columns"><%= f.input :appraised_by %></div>
    <div class="medium-12 columns"><%= f.input :appraised_on, html5: true %></div>
  </div>

  <div class="row">
    <% if @collection.appraise_with_ranges? %>
      <div class="medium-12 columns"><%= f.input :market_value_range, collection: Appraisal::MARKET_VALUE_CATEGORIES.map{|r| ["#{r.min}-#{r.max}", r]} %></div>
      <div class="medium-12 columns"><%= f.input :replacement_value_range, collection: Appraisal::REPLACEMENT_VALUE_CATEGORIES.map{|r| ["#{r.min}-#{r.max}", r]} %></div>
    <% else %>
      <div class="medium-12 columns"><%= f.input :market_value %></div>
      <div class="medium-12 columns"><%= f.input :replacement_value %></div>
    <% end %>
  </div>

    <%= f.input :reference %>

    <%= f.simple_fields_for :appraisee do |wf| %>
      <%= render partial: "work_form", locals: {wf: wf} %>
    <% end %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, class: :button%>
  </div>
<% end %>

</div>