<div id="main">
<h2>Waardeer</h2>
<p>Waardering <%= @appraisee.stock_number%> <%= @appraisee.name%></p>

<%= render 'form', appraisal: @appraisal %>

<%= link_to 'Annuleer', [@collection, @appraisee], class: 'hide-in-context' %>

<% if @latest_appraisal%>
<hr/>

<h3>Eerdere waarderingen</h3>
<%= render partial: 'appraisals'%>
<h4>Uitgebreid</h4>
<%= render @appraisee.appraisals %>
</div>
<% end %>