<p id="notice"><%= notice %></p>

<p>
  <strong>Appraised on:</strong>
  <%= @appraisal.appraised_on %>
</p>

<p>
  <strong>Market value:</strong>
  <%= @appraisal.market_value %>
</p>

<p>
  <strong>Replacement value:</strong>
  <%= @appraisal.replacement_value %>
</p>

<p>
  <strong>Appraised by:</strong>
  <%= @appraisal.appraised_by %>
</p>

<p>
  <strong>User:</strong>
  <%= @appraisal.user_id %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @appraisal.reference %>
</p>

<%= link_to 'Edit', edit_appraisal_path(@appraisal) %> |
<%= link_to 'Back', appraisals_path %>
