<h1>OAuth auto-koppelingen</h1>
<p>Overzicht van OAuth koppelingsregels die ervoor zorgen dat klanten automatisch in kunnen loggen op onze systemen met de juiste authorisatie..</p>


<table>
  <thead>
    <tr><th>Issuer</th><th>Value Type</th><th>Value</th><th>Collection ID</th><th>Role</th></tr>
  </thead>
  <tbody>
    <% @o_auth_group_mappings.each do |mapping| %>
      <tr>
        <td><%= mapping.issuer %></td>
        <td><%= mapping.value_type %></td>
        <td><%= mapping.value %></td>
        <td><%= link_to mapping.collection.name, mapping.collection %></td>
        <td><%= I18n.t mapping.role, scope: "activerecord.values.user.role" %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
