<article class="artist">
  <header>
    <h4><%= link_to artist do %><%= artist.name %><% end %></h4>
    <p><% if artist.born? %>
      <%= artist.place_of_birth %> (<%=artist.year_of_birth%>) -
    <% end %>
    <% if artist.died? %>
      <%=  artist.place_of_death %> (<%=artist.year_of_death%>)
    <% end %></p>
    <p>Technieken: <%= artist.techniques.to_sentence %>; Deelcollecties: <%= artist.subsets.to_sentence %></p>
  </header>
</article>