<article class="card">
  <header>
    <% if @collection or can?(:manage, Artist) %>
    <h4><%= link_to [@collection, artist].compact do %><%= artist.name %><% end %></h4>
    <% else %>
    <h4><%= artist.name %></h4>
    <% end %>
    <p>
    <% if artist.born? %>
      <%=@artist.date_of_birth ? I18n.l(@artist.date_of_birth, format: :long) : @artist.year_of_birth%>
      <% if artist.place_of_birth? %>
        te <%= artist.place_of_birth %><% if artist.place_of_birth and artist.place_of_birth_geoname_id == nil %><span title="Plaatsnaam niet teruggevonden in gestructureerde plaatsnamen tabel">*</span><% end%>
      <% end %>
    <% end %>

    <% if artist.died? %>
      -
      <%=@artist.date_of_death ? I18n.l(@artist.date_of_death, format: :long) : @artist.year_of_death%>
      <% if artist.place_of_death? %>
        te <%= artist.place_of_death %><% if artist.place_of_death and artist.place_of_death_geoname_id == nil %><span title="Plaatsnaam niet teruggevonden in gestructureerde plaatsnamen tabel">*</span><% end%>
      <% end %>
    <% end %></p>
    <p><% if artist.techniques.as_sentence != ""%>Technieken: <%= artist.techniques.as_sentence %><% end %><% if artist.subsets.as_sentence != ""%>; Deelcollecties: <%= artist.subsets.as_sentence %><% end %></p>
  </header>
  <% if @show_full_artists %>
  <footer>
    <h5>Educatie</h5>
    <ul>
    <% artist.artist_involvements.each do |artist_involvement| %>
      <% if artist_involvement.educational? %>
        <li><%=artist_involvement.name %> (<%=artist_involvement.place %><% if artist_involvement.place and artist_involvement.place_geoname_id == nil %><span title="Plaatsnaam niet teruggevonden in gestructureerde plaatsnamen tabel">*</span><% end %>; <%=artist_involvement.start_year%>-<%=artist_involvement.end_year%>) </li>
      <% end %>
    <% end %>
    </ul>
    <h5>Werkzaamheid</h5>
    <ul>
    <% artist.artist_involvements.each do |artist_involvement| %>
      <% if artist_involvement.professional? %>
        <li><%=artist_involvement.name %> (<%=artist_involvement.place %><% if artist_involvement.place and artist_involvement.place_geoname_id == nil %><span title="Plaatsnaam niet teruggevonden in gestructureerde plaatsnamen tabel">*</span><% end %>; <%=artist_involvement.start_year%>-<%=artist_involvement.end_year%>) </li>
      <% end %>
    <% end %>
    </ul>
  </footer>
  <% end %>
</article>