<%= simple_form_for([@collection,@artist].compact) do |f| %>
<div class="artist">
  <div class="row">
    <div class="large-4 medium-4 columns">
      <%= f.input :first_name, required: false %>
    </div>
    <div class="large-2 medium-2 columns">
      <%= f.input :prefix, required: false %>
    </div>
    <div class="large-6 medium-6 columns">
      <%= f.input :last_name, required: false %><br/>
    </div>
  </div>
  <div class="row">
    <div class="large-4 medium-4 columns">
      <%= f.input :artist_name, required: false %>
    </div>
    <div class="large-2 medium-2 columns">
    </div>
    <div class="large-6 medium-6 columns">
    </div>
  </div>
  <%= f.input :description, hint: @collection ? "Gebruik dit veld enkel voor beschrijvingen die niet specifiek zijn voor de collectie #{@collection.base_collection.name}" : "" %>

  <% if @collection%>
    <h4>Collectiespecifieke gegevens</h4>
    <% @artist.collection_attributes.each do |collection_attribute| %>
      <%= f.simple_fields_for :collection_attributes, collection_attribute do |caf|%>
        <div class="row">
          <div class="large-6 medium-6 columns">
            <%= caf.input :label, as: :hidden %>
            <%= caf.input :value, label: collection_attribute.label, required: false %>
          </div>
        </div>
      <% end %>

    <% end %>

  <% end %>

  <div class="row">
    <div class="medium-6 columns">
      <h4>Geboorte</h3>
      <%= f.select :place_of_birth_geoname_id, { @artist.place_of_birth_geoname_name => @artist.place_of_birth_geoname_id}, {}, class: 'select2 geoname-select' %>
      <%= f.input :place_of_birth, required: false  %>
      <%= f.input(:year_of_birth, as: :integer, required: false) unless f.object.date_of_birth  %>
      <%= f.input :date_of_birth, as: :date, required: false, html5: true  %>
    </div>
    <div class="medium-6 columns">
      <h4>Overlijden</h4>
      <%= f.select :place_of_death_geoname_id, { @artist.place_of_death_geoname_name => @artist.place_of_death_geoname_id}, {}, class: 'select2 geoname-select' %>

      <%= f.input :place_of_death, required: false  %>
      <%= f.input(:year_of_death, as: :integer, required: false) unless f.object.date_of_death  %>
      <%= f.input :date_of_death, as: :date, required: false, html5: true  %>

    </div>
  </div>

  <div class="actions">
    <%= f.submit class: :button %>
  </div>
</div>
<% end %>
