<%= simple_form_for([@collection,@artist].compact) do |f| %>
<div class="artist">
  <div class="row">
    <div class="large-4 medium-4 columns">
      <%= f.input :first_name, required: false %>
    </div>
    <div class="large-2 medium-2 columns">
      <%= f.input :prefix, required: false %>
    </div>
    <div class="large-6 medium-6 columns">
      <%= f.input :last_name, required: false %><br/>
    </div>
  </div>
  <div class="row">
    <div class="large-4 medium-4 columns">
      <%= f.input :artist_name, required: false %>
    </div>
    <div class="large-2 medium-2 columns">
      <%= f.input :gender, collection: translate_form_options(Artist::PREDEFINED_GENDER_VALUES, scope: "activerecord.values.artist.gender") %>
    </div>
    <div class="large-6 medium-6 columns">
    </div>
  </div>
  <%= f.input :description, hint: @collection ? "Gebruik dit veld enkel voor beschrijvingen die niet specifiek zijn voor de collectie #{@collection.base_collection.name}" : "" %>

  <% if @collection%>
    <h4>Collectiespecifieke gegevens</h4>
    <p>Gegevens worden gekoppeld aan <%= link_to @collection.base_collection.cached_collection_name_extended, @collection.base_collection %>.</p>
    <div class="row">
      <div class="large-6 medium-6 columns">
        <% @artist.collection_attributes.each do |collection_attribute| %>
          <% if collection_attribute.collection_id == @collection.base_collection.id %>
            <%= f.simple_fields_for :collection_attributes, collection_attribute do |caf|%>
              <%= caf.input :label, as: :hidden %>
              <%= caf.input :value, label: collection_attribute.label, required: false, as: ArtistsController::COLLECTION_ATTRIBUTE_LABELS.dig(collection_attribute.label, :type) %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="medium-6 columns">
      <h4>Geboorte</h3>
      <input type="hidden" value="" name="artist[place_of_birth_geoname_id]" />
      <%= f.input :place_of_death_geoname_id, as: :hidden%>
      <%= f.select :place_of_birth_geoname_id, { @artist.place_of_birth_geoname_name => @artist.place_of_birth_geoname_id}, {}, class: 'select2 geoname-select' %>
      <%= f.input :place_of_birth, required: false  %>
      <%= f.input(:year_of_birth, as: :integer, required: false) unless f.object.date_of_birth  %>
      <%= f.input :date_of_birth, as: :date, required: false, html5: true  %>
    </div>
    <div class="medium-6 columns">
      <h4>Overlijden</h4>
      <input type="hidden" value="" name="artist[place_of_death_geoname_id]" />
      <%= f.select :place_of_death_geoname_id, { @artist.place_of_death_geoname_name => @artist.place_of_death_geoname_id}, {}, class: 'select2 geoname-select' %>

      <%= f.input :place_of_death, required: false  %>
      <%= f.input(:year_of_death, as: :integer, required: false) unless f.object.date_of_death  %>
      <%= f.input :date_of_death, as: :date, required: false, html5: true  %>

    </div>
  </div>

  <div class="actions">
    <%= f.submit class: :button %>
  </div>
</div>
<% end %>
