<h1>Combineer <%=@artist.name%> met...</h1>
<p><strong>Belangrijk:</strong> Door de vervaardiger <%=@artist.name %> samen te voegen met de geselecteerde vervaardigers hieronder <em>verwijder*</em> je de hieronder geselecteerde vervaardigers (met alle eventuele opmerkingen etc.). De werken die aan die vervaardigers gekoppeld waren worden gekoppeld aan deze vervaardiger.</p>
<div class="row">
  <%= simple_form_for @artist, url: artist_combine_path(@artist) do |f| %>
  <div class="large-12 medium-12 columns">
    <h2>Andere vervaardigers</h2>
    <%= f.select :artists_with_same_name, Artist.exclude_artist(@artist).order_by_name.map { |r| [r.name, r.id] }, {}, {multiple: true, style: "height: 20em"} %>
    <p><small>Gebruik de shift-toets in combinatie met klikken om een reeks te selecteren of gebruik de ctrl- (Windows) of cmd- (Mac) toets om meerdere losse vervaardigers tegelijkertijd te selecteren.</small></p>
  </div>

  <div class="large-12 medium-12 columns">
    <%=f.submit value: 'Kunstenaars combineren', class: :button%>
  </div>
  <% end %>
</div>

<p><small>* De informatie wordt niet helemaal verwijderd en er wordt een logboek bijgehouden met de belangrijkste acties, mocht het echt mis zijn gegaan dan kan er een poging gedaan worden om de informatie te herstellen.</small></p>