<div class="row">
<div class="columns">
  <h1><%=@title%></h1>
  <div class="panel">
    <%= link_to 'Nieuwe vervaardiger', new_artist_path, class: [:right, :button] if qkunst_user? %>
    <% if current_user.admin? and !@collection %>
    <%= button_to 'Schoon kunstenaars op', artists_clean_path, data: {confirm: "Zijn er onlangs veel zaken toegevoegd, wacht dan een dag zodat er in noodgevallen een backup aanwezig is: deze operatie past namelijk veel aan. Weet je zeker dat je door wilt?"}, class: [:button, :warning, :right], method: :post %>
    <% end %>
  </div>
  <table class="sortable">
    <thead>
      <th class="asc">Achternaam, Tussenv.</th><th>Voornaam</th><th>Geboortedatum</th><th>Geboorteplaats</th><th>Sterfdatum</th><th>Sterfplaats</th>
    </thead>
    <tbody>
      <% @artists.each do |artist|
      context_artist_path = [@collection, artist].compact
      %>
      <tr>
        <td><%= link_to [artist.last_name, artist.prefix].compact.join(", "), context_artist_path %></td>
        <td><%= link_to artist.first_name.to_s, context_artist_path %></td>
        <% if artist.date_of_birth %>
          <td data-sortkey="<%=artist.date_of_birth.iso8601 %>"><%= link_to I18n.l(artist.date_of_birth, format: :long), context_artist_path %></td>
        <% else %>
          <td data-sortkey="<%=artist.year_of_birth%>"><%= link_to context_artist_path do %><%=artist.year_of_birth%><% end %></td>
        <% end %>
        <td><%= link_to context_artist_path do %><%= artist.place_of_birth %><% end %></td>
        <% if artist.date_of_death %>
          <td data-sortkey="<%=artist.date_of_death.iso8601 %>"><%= link_to I18n.l(artist.date_of_death, format: :long), context_artist_path %></td>
        <% else %>
          <td data-sortkey="<%=artist.year_of_death%>"><%= link_to context_artist_path do %><%=artist.year_of_death%><% end %></td>
        <% end %>
        <td><%= link_to context_artist_path do %><%= artist.place_of_death %><% end %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>