<div class="row">
<div class="columns">
  <h1><%=@title%></h1>
  <% if qkunst_user? %>
  <nav class="sub-nav bottom-nav hide-for-print" aria-label="Vervaardigersacties">
    <ul class="menu right-aligned menu--only-buttons">
      <li><%= link_to 'Nieuwe vervaardiger', new_artist_path, class: [:right, :button] %></li>
      <% if current_user.admin? and !@collection %>
        <li><%= button_to 'Schoon vervaardigers op', artists_clean_path, data: {confirm: "Zijn er onlangs veel zaken toegevoegd, wacht dan een dag zodat er in noodgevallen een backup aanwezig is: deze operatie past namelijk veel aan. Weet je zeker dat je door wilt?"}, class: [:button, :warning, :right], method: :post %></li>
      <% end %>
    </ul>
  </nav>
  <% end %>
  <label>Filter vervaardigers <input type="text" id="generic-table-filter" data-filters="artists-table"></label>

  <table class="sortable" id="artists-table">
    <thead>
      <th data-filtered-by="generic-table-filter"  aria-sort="ascending">Achternaam, Tussenv. of artiestennaam</th><th data-filtered-by="generic-table-filter" >Voornaam</th><th data-filtered-by="generic-table-filter" >Geboortedatum</th><th data-filtered-by="generic-table-filter" >Geboorteplaats</th><th data-filtered-by="generic-table-filter" >Sterfdatum</th><th data-filtered-by="generic-table-filter" >Sterfplaats</th>
    </thead>
    <tbody>
      <% @artists.each do |artist|
      context_artist_path = [@collection, artist].compact
      %>
      <tr>
        <td><%= link_to (artist.artist_name? ? "#{artist.artist_name} (artiestennaam)" : [artist.last_name, artist.prefix].compact.join(", ")), context_artist_path %></td>
        <td><%= link_to artist.first_name.to_s, context_artist_path %></td>
        <% if artist.date_of_birth %>
          <td data-sortkey="<%=artist.date_of_birth.iso8601 %>"><%= link_to I18n.l(artist.date_of_birth, format: :long), context_artist_path %></td>
        <% else %>
          <td data-sortkey="<%=artist.year_of_birth%>"><%= link_to context_artist_path do %><%=artist.year_of_birth%><% end %></td>
        <% end %>
        <td><%= link_to context_artist_path do %><%= artist.place_of_birth %><% end %></td>
        <% if artist.date_of_death %>
          <td data-sortkey="<%=artist.date_of_death.iso8601 %>"><%= link_to I18n.l(artist.date_of_death, format: :long), context_artist_path %></td>
        <% else %>
          <td data-sortkey="<%=artist.year_of_death%>"><%= link_to context_artist_path do %><%=artist.year_of_death%><% end %></td>
        <% end %>
        <td><%= link_to context_artist_path do %><%= artist.place_of_death %><% end %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>