<div class="row">
<div class="columns">
  <h1><%=@title%></h1>
  <div class="panel">
    <%= link_to 'Nieuwe vervaardiger', new_artist_path, class: [:right, :button] if qkunst_user? %>
    <% if current_user.admin? and !@collection %>
    <%= button_to 'Schoon kunstenaars op', artists_clean_path, data: {confirm: "Zijn er onlangs veel zaken toegevoegd, wacht dan een dag zodat er in noodgevallen een backup aanwezig is: deze operatie past namelijk veel aan. Weet je zeker dat je door wilt?"}, class: [:button, :warning, :right], method: :post %>
    <% end %>
  </div>
  <table class="sortable">
    <thead>
      <th>Achternaam, Tussenv.</th><th>Voornaam</th><th>Geboortedatum</th><th>Geboorteplaats</th><th>Sterfdatum</th><th>Sterfplaats</th>
    </thead>
    <tbody>
      <% @artists.each do |artist| %>
      <tr>
        <td><%= link_to [artist.last_name, artist.prefix].compact.join(", "), [@collection, artist].compact %></td>
        <td><%= link_to artist.first_name.to_s, [@collection, artist].compact %></td>
        <td><%= link_to [@collection, artist].compact do %><%=artist.date_of_birth ? I18n.l(artist.date_of_birth, format: :long) : artist.year_of_birth%><% end %></td>
        <td><%= link_to [@collection, artist].compact do %><%= artist.place_of_birth %><% end %></td>
        <td><%= link_to [@collection, artist].compact do %><%=artist.date_of_death ? I18n.l(artist.date_of_death, format: :long) : artist.year_of_death%><% end %></td>
        <td><%= link_to [@collection, artist].compact do %><%= artist.place_of_death %><% end %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>