<div class="row">
<div class="columns">
  <h1><%=@title%></h1>
  <% if @collection %><p>Er zitten <%=@artists.count%> vervaardigers in deze collectie</p><% end %>
  <% if qkunst_user? %>
  <nav class="sub-nav bottom-nav hide-for-print" aria-label="Vervaardigersacties">
    <ul class="menu right-aligned menu--only-buttons">
      <li><%= link_to 'Nieuwe vervaardiger', new_artist_path, class: [:right, :button] %></li>
      <% if current_user.admin? && @collection%>
        <li><%= link_to "Download .xlsx", collection_artists_path(@collection, @sanitized_filter.merge(format: :xlsx)), class: [:right, :button, :secondary]  %></li>
      <% end %>
      <% if current_user.admin? and !@collection %>
        <li><%= button_to 'Schoon vervaardigers op', artists_clean_path, data: {confirm: "Zijn er onlangs veel zaken toegevoegd, wacht dan een dag zodat er in noodgevallen een backup aanwezig is: deze operatie past namelijk veel aan. Weet je zeker dat je door wilt?"}, class: [:button, :warning, :right], method: :post %></li>
      <% end %>
    </ul>
  </nav>
  <% end %>
  <label>Filter vervaardigers <input type="text" id="generic-table-filter" data-filters="artists-table"></label>

  <table class="sortable" id="artists-table">
    <thead>
      <th data-filtered-by="generic-table-filter"  aria-sort="ascending">Achternaam, Tussenv. of artiestennaam</th>
      <th data-filtered-by="generic-table-filter" >Voornaam</th>
      <th data-filtered-by="generic-table-filter" >RKD Artist ID</th>
      <th data-filtered-by="generic-table-filter" >Geboortedatum</th>
      <th data-filtered-by="generic-table-filter" >Geboorteplaats</th>
      <th data-filtered-by="generic-table-filter" >Sterfdatum</th>
      <th data-filtered-by="generic-table-filter" >Sterfplaats</th>
      <% if @advanced %>
        <th>Nationaliteit(en)</th>
        <th>Land van geboorte</th>
        <th>Opleidingen</th>
        <th>Werkgebieden</th>
        <th>Collectie NL</th>
        <th>Musea</th>
      <% end %>
    </thead>
    <tbody>
      <% @artists.each do |artist|
      context_artist_path = [@collection, artist].compact
      %>
      <tr>
        <td><%= link_to (artist.artist_name? ? "#{artist.artist_name} (artiestennaam)" : [artist.last_name, artist.prefix].compact.join(", ")), context_artist_path %></td>
        <td><%= link_to artist.first_name.to_s, context_artist_path %></td>
        <td><%= link_to artist.rkd_artist_id || "-", context_artist_path %></td>
        <% if artist.date_of_birth %>
          <td data-sortkey="<%=artist.date_of_birth.iso8601 %>"><%= link_to I18n.l(artist.date_of_birth, format: :long), context_artist_path %></td>
        <% else %>
          <td data-sortkey="<%=artist.year_of_birth%>"><%= link_to context_artist_path do %><%=artist.year_of_birth%><% end %></td>
        <% end %>
        <td><%= link_to context_artist_path do %><%= artist.place_of_birth %><% end %></td>
        <% if artist.date_of_death %>
          <td data-sortkey="<%=artist.date_of_death.iso8601 %>"><%= link_to I18n.l(artist.date_of_death, format: :long), context_artist_path %></td>
        <% else %>
          <td data-sortkey="<%=artist.year_of_death%>"><%= link_to context_artist_path do %><%=artist.year_of_death%><% end %></td>
        <% end %>
        <td><%= link_to context_artist_path do %><%= artist.place_of_death %><% end %></td>

        <% if @advanced%>
          <td><% if artist.rkd_artist&.nationalities%>
            <ul>
              <% artist.rkd_artist.nationalities.map(&:label).each do |nationality| %>
                <li><%=nationality%></li>
              <% end %>
            </ul>
          <% end %></td>

          <td><%= artist.country_of_birth_name %></td>
          <td><ul><%= artist.artist_involvements.includes(:involvement).educational.map{ "<li>#{sanitize it.involvement&.name || "Onbekend"} - #{sanitize(it.place)} #{it.start_year&.to_i}</li>" }.uniq.join("").html_safe %></ul></td>
          <td><ul><%= artist.artist_involvements.professional.map{ "<li>#{sanitize it.place} #{it.start_year&.to_i}</li>" }.uniq.join("").html_safe %></ul></td>
          <td><%= artist.collectie_nederland_total_results.to_i > 0 ? "J" : "N"%>; <%= link_to I18n.t("count.possible_matches", count: artist.collectie_nederland_total_results.to_i).upcase_first,[@collection, artist,:collectie_nederland_summary].compact%></td>
          <td><% if artist.collectie_nederland_summary %>
            <ul>
            <% artist.collectie_nederland_summary.map{|a| a.data_provider}.uniq.each do |provider_name|%>
            <li><%= provider_name%></li>
            <% end %>
            </ul>
            <% end %>
          </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>