<div class="row columns">
  <header class="row">
    <div class="large-12 columns">
      <p><%= link_to 'â† Terug naar de vervaardigerspagina', artist_path(@artist)%></p>
      <h1>Mogelijke RKD koppelingen voor <%= @artist.name %></h1>
      <p>Huidige vermelding in de QKunst database</p>
        <%= render @artist%>
    </div>

  </header>

  <% if @artist.rkd_artist %>
    <p>Deze kunstenaar is gekoppeld aan het volgende record in de RKDartists&amp;-database.</p>
    <%= render @artist.rkd_artist %>
  <% end %>
  <h3>Zoek naar records</h3>
  <form action="<%=artist_rkd_artists_path(@artist)%>" method="get">
    <input type="search" name="q" value="<%=@q%>" />
  </form>
  <h4>Resultaten</h4>
  <p>Klik op 'koppel' om een RKDartist-vermelding te koppelen aan een vervaardiger in de QKunst collectiebeheer vervaardigers-database, klik op de naam om details te bekijken van de vermelding in het RKD.</p>

  <% case @rkd_artists.count %>
  <% when 0 %>
    <p>Deze vervaardiger kon niet worden gevonden in de RKDartists&amp;-database.</p>
  <% when 1 %>
    <%= render @rkd_artists %>
  <% else %>
    <%= render @rkd_artists %>
  <% end %>
</div>