<h1><%= @artist.name%> <small>(<%= link_to 'Bewerk gegevens', edit_artist_path(@artist) %><% if admin_user? %> of <%= link_to 'combineer', artist_combine_prepare_path(@artist)%><% end %>)</small></h1>
<%= simple_format @artist.description %>
<div class="row">
  <div  class="large-9 medium-9 columns">
    <dl>
    <% if @artist.born? %>
      <dt>Geboren:</dt>
      <dd><%=@artist.year_of_birth%> <% if @artist.place_of_birth %>(<%= @artist.place_of_birth %>)<% end%>
    <% end %>
    <% if @artist.died? %>
      <dt>Gestorven:</dt>
      <dd><%=@artist.year_of_death%> <% if @artist.place_of_birth %>(<%=  @artist.place_of_death %>)<% end %>
    <% end %>
      <% if @artist.techniques.as_sentence != ""%><dt>Technieken:</dt><dd><%= @artist.techniques.as_sentence %></dd><% end %>
      <% if @artist.subsets.as_sentence != ""%><dt>Deelcollecties:</dt><dd><%= @artist.subsets.as_sentence %></dd><% end %>
    </dl>

    <div class="row">
      <div class="medium-6 columns">
        <h3>Opleiding <small>(<%=link_to 'voeg toe', new_artist_artist_involvement_path(@artist, type: :education)%>)</small></h3>
        <%= render @artist.artist_involvements.educational %>
      </div>
      <div class="medium-6 columns">
        <h3>Werkgebied <small>(<%=link_to 'voeg toe', new_artist_artist_involvement_path(@artist, type: :professional)%>)</small></h3>
        <%= render @artist.artist_involvements.professional %>

      </div>
    </div>
    <p><strong>De kunstenaar is gekoppeld aan de volgende lokaliteiten: </strong> <%= @artist.localities_to_find_by.collect{|a| a.name}.to_sentence %></p>

  </div>
  <aside class="large-3 medium-3 columns">
    <h3>RKDartists&amp;</h3>

    <% if @artist.rkd_artist %>
      <p>Deze vervaardiger is gekoppeld aan het volgende record in de RKDartists&amp;-database.</p>
      <%= render @artist.rkd_artist %>
    <% elsif @artist.rkd_artists.count == 0 %>
      <p>Er kon geen match gevonden worden in RKDartists&amp;</p>
    <% elsif @artist.rkd_artists.count > 0 and @artist.rkd_artists.count <= 3 %>
      <p>Matches in RKDartists&amp;:</p>
      <%= render @artist.rkd_artists%>
    <% end %>
    <hr />
    <p><%= link_to 'Beheer RKD koppeling voor deze vervaardiger', artist_rkd_artists_path(@artist)%></p>

  </aside>
</div>
<h2>Werken van deze vervaardiger</h2>
<p>Overzicht van werken van deze vervaardiger in de QKunst database.</p>
<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3">
<%= render @artist.works%>
</ul>


