<%= simple_form_for([@collection, @cluster]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'small button' %>
  </div>
<% end %>
