<%= simple_form_for([@collection, @cluster]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.association :collection, collection: current_user.accessible_collections, input_html: {class: 'chosen-select'} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'small button' %>
  </div>
<% end %>
