  <div class="zxing-wrapper">
    <div class="zxing-canvas-container">
      <canvas id="zxing-canvas"></canvas>
    </div>


    <%= simple_form_for @collection.works.new, url: collection_mobile_path(@collection), method: :patch do |f| %>
      <label for="work_numbers_return_separated">Inventarisnummers / alternatieve nummers (waaronder evt. barcodes) van aan te passen werken regel-gescheiden</label>
      <textarea data-zxing-output-target name="work_numbers_return_separated" id="work_numbers_return_separated" autofocus="autofocus"></textarea>
      <%= f.input :location %>
      <%= f.input :location_floor %>
      <%= f.input :location_detail %>
      <%= f.submit "Gescande werken bijwerken", name: :update_and_replace, class: [:button, :primary] %>
      <p><small>Let op: Alle waarden worden overschreven; wanneer een veld wordt leeggelaten worden de velden leeg gemaakt</small></p>
    <% end %>

  </div>