<div class="row columns">
  <header class="row">
    <div class="large-12 columns">
      <% if @artist%>
      <p><%= link_to 'â† Terug naar de vervaardigerspagina', artist_path(@artist)%></p>
      <h1>Mogelijke RKD koppelingen voor <%= link_to @artist.name, @artist %></h1>
      <% else %>
      <h1>Mogelijke RKD koppelingen voor <%= params[:q] %></h1>
      <% end %>
    </div>

  </header>
  <div class="row">
    <div class="medium-9 columns">
  <% if @artist %>
  <p>Zoek naar mogelijke overeenkomende vervaardigers in RKDartists&amp;. Klik op 'koppel' om een RKDartist-vermelding te koppelen aan een vervaardiger in de <%=I18n.t("application.name")%> vervaardigers-database, klik op de naam om details te bekijken van de vermelding in het RKD.</p>
  <form action="<%=artist_rkd_artists_path(@artist)%>" method="get">
    <div class="row">
      <div class="medium-10 columns"><input type="search" name="q" value="<%=@q%>" /></div>
      <div class="medium-2 columns"><input type="submit" value="Zoek" class="button expanded" /></div>
    </div>
  </form>
  <% end %>
  <h4>Resultaten</h4>
  <div class="panel">
    <p><strong>Vind je niet wat je zoekt?</strong> Zoek dan de vervaardiger zelf handmatig op in het RKD en gebruik de RKD id (vaak 4 of 5 cijferige code) die je terug vind op de vervaardigerspagina, rechtsbovenin, net boven het sterretje.</p>
  </div>
  <% case @rkd_artists.count %>
  <% when 0 %>
    <p>Deze vervaardiger kon niet worden gevonden in de RKDartists&amp;-database.</p>
  <% when 1 %>
    <%= render @rkd_artists %>
  <% else %>
    <%= render @rkd_artists %>
  <% end %>
    </div>

    <aside class="medium-3 columns">
      <% if @artist&.rkd_artist %>
        <p>Deze vervaardiger is gekoppeld aan het volgende record in de RKDartists&amp;-database.</p>
        <%= render @artist.rkd_artist %>
        <hr />
      <% end %>
    </aside>
    </div>
</div>