<article class="reminder card">
  <header><%if reminder.repeat?%><%= button_to( 'Kopieer', collection_reminders_path(@collection), params: {reminder: reminder.to_hash}, method: :post, class: [:small, :button, :right]) if @collection and reminder.collection.nil? %><div class="right" class="repeat" title="Terugkerende herinnering">♻</div><% end%>
    <h5><%= link_to reminder.name, [reminder.collection, reminder].compact %></h5>
  </header>
  <div class="body">
    <%= simple_format reminder.text.truncate(1000)%>
  </div>
  <footer>
    <% if reminder.stage %>
      <%= "Iedere" if reminder.repeat? %>
      <%= distance_of_time_in_words(Time.now, (Time.now + reminder.additional_time)) %> na <%= link_to reminder.stage.name, reminder.stage %>.
    <% else reminder.collection %>
      <%= "Iedere" if reminder.repeat? %>
      <%= distance_of_time_in_words(Time.now, (Time.now + reminder.additional_time)) %> na <%= I18n.l reminder.reference_date, format: :long %>.
    <% end %>
    <% if reminder.collection %>
    <% if reminder.next_date and reminder.reference_date %>
      De volgende herinnering wordt verstuurd over <%= distance_of_time_in_words(Time.now, reminder.next_date )%>.
    <% end %>
    <% end%>
  </footer>
</article>