<div class="row">
  <div class="large-9 medium-9 columns">
    <h2>Thema's</h2>
    <div class="row">
      <div class="large-6 columns">
        <h4>Algemeen</h4>
        <ul>
          <%= render Theme.general.all %>
        </ul>
      </div>
      <div class="large-6 columns">
        <h4>Collecties met thema's</h4>
        <p>Tussen de haakjes staan de actieve<% if @show_hidden %> <em>én</em> niet actieve<% end%> thema's.</p>
        <ul>
          <% @collections.each do |collection| %>
            <%= render collection, {render_themes: true}%>
          <% end %>
        </ul>
      </div>

    </div>


  </div>
  <aside class="large-3 medium-3 columns">
    <% if @collection %>
      <%= link_to 'Nieuw thema', new_collection_theme_path(@collection), class: 'button' if can? :create, @collection.themes.new %>
      <% if @show_hidden %>
        <p>Verborgen thema's worden nu weergegeven, <%= link_to "verberg de verborgen thema's", collection_themes_path(@collection, show_hidden: nil)%></p>
      <% else %>
        <p>Verborgen thema's zijn nu verborgen, <%= link_to "toon ook deze thema's", collection_themes_path(@collection, show_hidden: true)%></p>
      <% end %>
    <% else %>
      <%= link_to 'Nieuw thema', new_theme_path, class: 'button' if can? :create, Theme.new %>
    <% end %>
  </aside>
</div>

