<div class="row">
  <div class="large-9 columns">
    <h1>Import <%=@import_collection.file.file.filename%></h1>
    <h2>Kolommen in dit bestand</h2>
    <p>Zijn dit niet de kolommen in het bestand, stel dan de koprij in op een ander nummer. Momenteel is dit de <%= @import_collection.header_row ? "#{@import_collection.header_row}<sup>de</sup> regel".html_safe : "de eerste regel"%>.</p>
    <ul><% @import_collection.import_file_snippet_to_workbook_table.header.collect{|a| a.value}.compact.each do |a| %>
    <li><%=a%></li>
    <% end %>
    </ul>
  </div>
  <aside class="large-3 columns">
    <%= link_to 'Bewerk de importintstellingen', edit_collection_import_collection_path(@collection,@import_collection), class: 'button' %><br/>
    <% if @import_collection.works.count > 0 %><%= link_to 'Draai import terug', collection_import_collection_delete_works_path(@collection,@import_collection), class: 'button alert', method: 'post', data: {confirm: 'Weet u zeker dat u de eerder geimporteerde werken wilt verwijderen?'} %><br/><% end %>
    <%= link_to 'Bekijk een preview', collection_import_collection_preview_path(@collection,@import_collection), class: '' %> (op de previewpagina kun je ook daadwerkelijk de import uitvoeren)
  </aside>
</div>