<%= simple_form_for(@currency) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :iso_4217_code %>
    <%= f.input :symbol %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
