<% if current_user.qkunst? %>
  <div id="selected-works" class="row">
    <div class="medium-12 columns">
        <p>Beschikbare acties en aanpasbare eigenschappen op de <span id="selected-works-count">x</span> geselecteerde werken:</p>
        <div class="button-row">
          <div class="button-group">
            <%= button_tag type: :submit, name: :batch_edit_property, value: :cluster, class: :button do %>Verplaats naar cluster<% end %>
            <%= button_tag type: :submit, name: :batch_edit_property, value: :cluster_id_nil, class: :button do %>Haal uit cluster<% end %>
            <%= button_tag type: :submit, name: :batch_edit_property, value: :cluster_id_new, class: :button do %>Nieuw cluster<% end %>
          </div>
          <%= button_tag type: :submit, name: :batch_edit_property, value: :location, class: :button do %>Locatie<% end %>
          <%= button_tag type: :submit, name: :batch_edit_property, value: :collection, class: :button do %>Collectie<% end %>
          <%= button_tag type: :submit, name: :batch_edit_property, value: :subset, class: :button do %>Deelcollectie<% end %>
          <div class="button-group">
            <%= button_tag type: :submit, name: :batch_edit_property, value: :placeability, class: :button do %>Plaatsbaarheid<% end %>
            <%= button_tag type: :submit, name: :batch_edit_property, value: :techniques, class: :button do %>Technieken<% end %>
            <%= button_tag type: :submit, name: :batch_edit_property, value: :grade_within_collection, class: :button do %>Niveau<% end %>
            <%= button_tag type: :submit, name: :batch_edit_property, value: :sources, class: :button do %>Herkomst<% end %>
            <%= button_tag type: :submit, name: :batch_edit_property, value: :themes, class: :button do %>Thema’s<% end %>
            <%= button_tag type: :submit, name: :batch_edit_property, value: :tags, class: :button do %>Tags<% end %>
          </div>
          <%= button_tag type: :submit, name: :batch_process_property, value: :create_report, class: :button do %>Maak rapportage<% end %>
          <%= button_tag type: :submit, name: :batch_process_property, value: :batch_editor, class: :button do %>Batch Editor<% end %>

        </div>
    </div>
  </div>
<% end %>