<% if current_user.qkunst? %>
<div class="row columns">
  <div id="selected-works" class="bottom-controls">
    <div>
    <p>Beschikbare acties en aanpasbare eigenschappen op de <span id="selected-works-count">x</span> geselecteerde onderdelen:</p>
    <div class="button-row">
      <%= button_tag "Collectie", type: :submit, name: "expose_fields[]", value: :collection_id, class: :button %>
      <%= button_tag "Locatie", type: :submit, name: "expose_fields[]", value: :location, class: :button %>
      <%= button_tag "Cluster", type: :submit, name: "expose_fields[]", value: :cluster_name, class: :button %>
      <%= button_tag "Tags", type: :submit, name: "expose_fields[]", value: :tag_list, class: :button %>
      <% if can? :create, Appraisal%>
      <%= button_tag "Beprijs", type: :submit, name: "expose_fields[]", value: :selling_price, class: :button %>
      <%= button_tag "Waardering", type: :submit, name: "expose_fields[]", value: :appraisals_attributes, class: :button %>
      <% end %>
      <%= button_tag "Overige velden", type: :submit, name: "expose_fields[]", value: nil, class: :button %>
      <%= button_tag "Maak rapportage", type: :submit, name: :batch_process_property, value: :create_report, class: :button %>
      <%= button_tag "Groepeer", type: :submit, name: :batch_process_property, value: :create_work_set, class: :button %>
    </div>
    </div>
  </div>
</div>
<% end %>