<%= simple_nested_form_for([@collection,@work], data: {offline: (defined?(offline) ? offline : false), turbo: false}) do |f| %>
  <%= f.error_notification %>
  <% if @work.errors.count > 0 %>
  <ul>
    <% @work.errors.full_messages.each do |error| %>
      <li><%= error%></li>
    <% end %>
  </ul>
  <% end %>
  <div class="form-inputs">
    <fieldset>
      <legend>Administratief</legend>
      <fieldset >
      <div class="row">
      <div class="medium-3 columns">
        <%= f.input :inventoried, as: :boolean %>
      </div>
      <div class="medium-3 columns">
        <%= f.input :refound, as: :boolean %>
      </div>
      <div class="medium-3 columns">
        <%= f.input :new_found, as: :boolean %>
      </div>
      <div class="medium-3 columns">
        <%= f.input :checked, as: :boolean %>
      </div>
      </div>

      <div class="row">
      <div class="medium-6 columns">
        <%= f.association :work_status %>
      </div>
      </div>
      </fieldset>
      <div class="row">
      <div class="medium-5 columns">
        <% if (@work.location && !@work.main_location) || @collection.super_base_collection.locations.empty? %>
          <%= f.input :location %>
        <% else %>
          <%= f.association :main_location, input_html: {class: 'select2 location'}, collection: @collection.super_base_collection.locations.not_hidden  %>
        <% end %>
      </div>
      <div class="medium-4 columns">
        <%= f.input :location_floor %>
      </div>
      <div class="medium-3 columns">
        <%= f.input :location_detail %>
      </div>
      </div>
      <div class="row">
        <div class="large-3 medium-6 columns">
          <%= f.input :stock_number, input_html: {data: {catch_return: true}} %>
        </div><div class="large-3 medium-6 columns">
          <%= f.input :alt_number_1, label: @collection.label_override_work_alt_number_1_with_inheritance, input_html: {data: {catch_return: true}} %>
        </div><div class="large-3 medium-6 columns">
          <%= f.input :alt_number_2, label: @collection.label_override_work_alt_number_2_with_inheritance, input_html: {data: {catch_return: true}} %>
        </div><div class="large-3 medium-6 columns">
          <%= f.input :alt_number_3, label: @collection.label_override_work_alt_number_3_with_inheritance, input_html: {data: {catch_return: true}} %>
          <%
            [:alt_number_4, :alt_number_5, :alt_number_6] #mention alt number 4-6 to enforce sorting (see export.rb)
          %>
        </div>
      </div>
      <% unless f.object.persisted? %>
        <%= f.simple_fields_for :work_set, WorkSet.new do |wsf| %>
        <div class="row">
          <div class="large-3 medium-6 columns">
            <%= wsf.association :work_set_type, required: false %>
          </div>
          <div class="large-3 medium-6 columns">
            <%= wsf.input :identification_number, required: false %>
          </div>
          <div class="large-3 medium-6 columns"></div>
        </div>
        <% end %>
      <% end %>
      <%= f.input :information_back   %>
    </fieldset>
    <fieldset id="vervaardigers">
      <legend>Vervaardiger(s)</legend>
      <%= f.input :signature_comments %>
      <%= f.input :no_signature_present %>
      <%= f.association :artists, input_html: {class: 'chosen-select'}  %>
      <%= f.input :artist_unknown %>
      <p><%= f.link_to_add "Voeg een nog niet eerder geregistreerde vervaardiger toe", :artists, :data => { :target => "#artists" }, class: [:button, :secondary] %></p>
      <div id="artists">
        <%= f.fields_for :artists  %>
      </div>
    </fieldset>
    <fieldset>
      <legend>Object</legend>
      <%= f.input :title %>
      <%= f.input :title_unknown %>
      <%= f.input :description %>
      <%= f.input :object_creation_year, input_html: {step: 0, maxlength: 4, type: :text}   %>
      <%= f.input :object_creation_year_unknown   %>
      <%= f.association :object_categories, input_html: {class: 'chosen-select'}, collection: ObjectCategory.not_hidden %>
      <%= f.association :techniques, input_html: {class: 'chosen-select'}, collection: Technique.not_hidden %>
      <%= f.association :medium, input_html: {class: 'chosen-select'}, collection: Medium.not_hidden %>
      <%= f.input :medium_comments %>
      <%= f.association :frame_type, input_html: {class: 'chosen-select'}, collection: FrameType.not_hidden %>
      <%= f.input :print %>
      <%= f.input :print_unknown %>
    </fieldset>
    <fieldset>
      <legend>Afmetingen</legend>
      <div class="row">
        <div class="medium-3 columns"><%= f.input :frame_height, input_html: {type: :text} %></div>
        <div class="medium-3 columns"><%= f.input :frame_width, input_html: {type: :text} %></div>
        <div class="medium-3 columns"><%= f.input :frame_depth, input_html: {type: :text} %></div>
        <div class="medium-3 columns"><%= f.input :frame_diameter, input_html: {type: :text} %></div>
      </div>
      <div class="row">
        <div class="medium-3 columns"><%= f.input :height, input_html: {type: :text} %></div>
        <div class="medium-3 columns"><%= f.input :width, input_html: {type: :text} %></div>
        <div class="medium-3 columns"><%= f.input :depth, input_html: {type: :text} %></div>
        <div class="medium-3 columns"><%= f.input :diameter, input_html: {type: :text} %></div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Conditie</legend>
      <div class="row">
        <div class="medium-3 columns"><%= f.association( :condition_work, input_html: {class: 'chosen-select'}, collection: Condition.not_hidden)  %></div>
        <div class="medium-3 columns"><%= f.association( :damage_types, input_html: {class: 'chosen-select'}, collection: DamageType.not_hidden)  %></div>
        <div class="medium-6 columns"><%= f.input :condition_work_comments  %></div>
      </div>
      <div class="row">
        <div class="medium-3 columns"><%= f.association( :condition_frame, input_html: {class: 'chosen-select'}, collection: Condition.not_hidden)  %></div>
        <div class="medium-3 columns"><%= f.association( :frame_damage_types, input_html: {class: 'chosen-select'}, collection: FrameDamageType.not_hidden ) %></div>
        <div class="medium-6 columns"><%= f.input :condition_frame_comments  %></div>
      </div>
      <div class="row">
        <div class="medium-9 columns">
          <%= f.association( :placeability, input_html: {class: 'chosen-select'}, collection: Placeability.not_hidden)  %>
        </div>
        <div class="medium-3 columns">
          <%= f.input :permanently_fixed %>
        </div>
      </div>
      <div class="row">
        <div class="columns">
          <%= f.association( :logistical_peculiarities, input_html: {class: 'chosen-select'}, collection: LogisticalPeculiarity.not_hidden)  %>
        </div>
        <div class="columns">
          <%= f.input :logistical_peculiarities_comments %>
        </div>
      </div>

    </fieldset>
    <% if can?(:edit_source_information, @work) || can?(:edit_purchase_information, @work) %>
      <% wf = f %>
      <fieldset>
        <legend>Aankoopgegevens</legend>
        <% if can?(:edit_purchase_information, @work) %>
          <%= wf.input :purchased_on, html5: true%>
          <%= wf.input :purchase_year, hint: "Alleen invoeren indien geen exacte datum bekend" %>
          <%= wf.input :fin_balance_item_id%>
          <div class="row">
            <div class="medium-9 columns"><%= wf.input :purchase_price %></div>
            <div class="medium-3 columns"><%= wf.association :purchase_price_currency, value: 1%></div>
          </div>
        <% end %>
        <% if can?(:edit_source_information, @work) %>
          <%= wf.association( :sources, input_html: {class: 'chosen-select'}, collection: Source.not_hidden) %>
          <%= wf.input :source_comments %>
        <% end %>
      </fieldset>
    <% end %>
    <fieldset>
      <legend>Overig</legend>
      <%= f.input :other_comments  %>
      <%= f.association :owner, input_html: {class: 'chosen-select'}, collection: @collection.available_owners.not_hidden %>
    </fieldset>
    <fieldset>
      <legend>Typering</legend>
      <%= f.input( :abstract_or_figurative, collection: {Work.human_attribute_name(:abstract)=>'abstract', Work.human_attribute_name(:figurative)=>'figurative'},  as: :radio_buttons )  %>
      <%= f.association(:themes, input_html: {class: 'chosen-select', :multiple => true }, as: :grouped_select, collection: @collection.self_and_parent_collections_flattened.all_plus_a_fake_super_collection, group_method: :not_hidden_themes)  %>
      <%= f.association(:subset, input_html: {class: 'chosen-select'}, collection: Subset.not_hidden)  %>
      <%= f.label :locality_geoname_id, "Lokaliteit" %>
      <%= f.select :locality_geoname_id, { @work.locality_geoname_name => @work.locality_geoname_id}, {}, class: 'select2 geoname-select'  %>
    </fieldset>
    <fieldset>
      <%= f.input(:grade_within_collection, collection: Work::GRADES_WITHIN_COLLECTION)  %>
      <%= f.input(:main_collection)  %>
    </fieldset>
    <fieldset>
      <legend>Collectiespecifiek</legend>
          <p>Gegevens worden gekoppeld aan <%= link_to @collection.base_collection.cached_collection_name_extended, @collection.base_collection %>.</p>
    <div class="row">
      <div class="large-12 columns">
        <% @work.collection_attributes.each do |collection_attribute| %>
          <% if collection_attribute.collection_id == @collection.base_collection.id %>
            <%= f.simple_fields_for :collection_attributes, collection_attribute do |caf|%>
              <%= caf.input :label, as: :hidden %>
              <%= caf.input :attribute_type, as: :hidden%>
              <%= caf.input :language, as: :hidden%>
              <%= caf.input :value, label: collection_attribute.label, required: false, as: collection_attribute.input_type %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    </fieldset>
    <fieldset>
      <legend>Publicatie</legend>
      <%= f.input :highlight_priority %>

      <div class="row">
      <div class="medium-6 columns"><%= f.input :publish, collection: {"Ja"=>true, "Nee"=>false, "Onbekend"=>""}, as: :radio_buttons %></div>
      <div class="medium-6 columns"><%= f.input :image_rights, collection: {"Ja"=>true, "Nee"=>false, "Onbekend"=>""}, as: :radio_buttons %></div>
      </div>
      <% if can?(:edit_availability, @work) and @collection.show_availability_status? %>
        <%= f.input :for_rent, as: :boolean %>
        <%= f.input :for_purchase, as: :boolean %>
        <% if @work.removed_from_collection? %>
          <%= f.input :removed_from_collection, as: :boolean %>
        <% end %>
      <% end %>
    </fieldset>
    <fieldset>
      <%= f.input :internal_comments %>
      <!-- make sure manually fixed works aren't removed on rollback-->
      <%= f.input :imported_at, input_html: { value: ""}, as: :hidden %>
      <%= f.input :import_collection_id, input_html: { value: ""}, as: :hidden%>
    </fieldset>
  </div>

  <div class="bottom-controls">
    <div class="form-actions">
      <% if @work.id %>
      <label><%= check_box_tag 'submit_and_edit_next'%> <%=I18n.t(:save_and_edit_next) =%></label>
      <% end %>
      <%= f.button :submit, class: :button, data: {turbo: false} %>
      <% unless @work.id %>
        <%= f.button :submit, class: "button no-reload", value: "Werk toevoegen en volgende voorinvullen", data: { no_reload: true, confirm: "Het formulier wordt op de achtergrond verstuurd. Foto's worden niet opgeslagen bij deze handeling. Als u op OK drukt kunt u beginnen met het volgende werk." } %>
      <% end %>
    </div>
  </div>
<% end %>
