<%= simple_nested_form_for([@collection,@work], data: {offline: :offline}) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <fieldset>
      <legend>Administratief</legend>
      <div class="row">
      <div class="medium-5 columns">
        <%= f.input :location %>
      </div>
      <div class="medium-4 columns">
        <%= f.input :location_floor %>
      </div>
      <div class="medium-3 columns">
        <%= f.input :location_detail %>
      </div>
      </div>
      <div class="row">
        <div class="large-3 medium-6 columns">
          <%= f.input :stock_number  %>
        </div><div class="large-3 medium-6 columns">
          <%= f.input( :alt_number_1, label: @collection.label_override_work_alt_number_1_with_inheritance )  %>
        </div><div class="large-3 medium-6 columns">
          <%= f.input( :alt_number_2, label: @collection.label_override_work_alt_number_2_with_inheritance )  %>
        </div><div class="large-3 medium-6 columns">
          <%= f.input( :alt_number_3, label: @collection.label_override_work_alt_number_3_with_inheritance )  %>
        </div>
      </div>
      <%= f.input :information_back   %>
    </fieldset>
    <fieldset id="vervaardigers">
      <legend>Vervaardiger(s)</legend>
      <%= f.association :artists, input_html: {class: 'chosen-select'}  %>
      <%= f.input :artist_unknown %>
      <p><%= f.link_to_add "Voeg een nog niet eerder geregistreerde vervaardiger toe", :artists, :data => { :target => "#artists" } %></p>
      <div id="artists">
        <%= f.fields_for :artists  %>
      </div>
    </fieldset>
    <fieldset>
      <legend>Object</legend>
      <%= f.input :title  %>
      <%= f.input :title_unknown  %>
      <%= f.input :description   %>
      <%= f.input( :object_creation_year, input_html: {step: 0, maxlength: 4, type: :text})   %>
      <%= f.input :object_creation_year_unknown   %>
      <%= f.association( :object_categories, input_html: {class: 'chosen-select'}, collection: ObjectCategory.not_hidden )  %>
      <%= f.association( :techniques, input_html: {class: 'chosen-select'}, collection: Technique.not_hidden)  %>
      <%= f.association( :medium, input_html: {class: 'chosen-select'}, collection: Medium.not_hidden)   %>
      <%= f.input :medium_comments   %>
      <%= f.association( :frame_type, input_html: {class: 'chosen-select'}, collection: FrameType.not_hidden)   %>
      <%= f.input :signature_comments   %>
      <%= f.input :no_signature_present   %>
      <%= f.input :print   %>
    </fieldset>
    <fieldset>
      <legend>Afmetingen</legend>
      <div class="row">
        <div class="medium-3 columns"><%= f.input(:frame_width, input_html: {type: :text})  %></div>
        <div class="medium-3 columns"><%= f.input(:frame_height, input_html: {type: :text})  %></div>
        <div class="medium-3 columns"><%= f.input(:frame_depth, input_html: {type: :text})  %></div>
        <div class="medium-3 columns"><%= f.input(:frame_diameter, input_html: {type: :text})  %></div>
      </div>
      <div class="row">
        <div class="medium-3 columns"><%= f.input(:width, input_html: {type: :text})  %></div>
        <div class="medium-3 columns"><%= f.input(:height, input_html: {type: :text})  %></div>
        <div class="medium-3 columns"><%= f.input(:depth, input_html: {type: :text})  %></div>
        <div class="medium-3 columns"><%= f.input(:diameter, input_html: {type: :text})  %></div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Conditie</legend>
      <div class="row">
        <div class="medium-3 columns"><%= f.association( :condition_work, input_html: {class: 'chosen-select'}, collection: Condition.not_hidden)  %></div>
        <div class="medium-3 columns"><%= f.association( :damage_types, input_html: {class: 'chosen-select'}, collection: DamageType.not_hidden)  %></div>
        <div class="medium-6 columns"><%= f.input :condition_work_comments  %></div>
      </div>
      <div class="row">
        <div class="medium-3 columns"><%= f.association( :condition_frame, input_html: {class: 'chosen-select'}, collection: Condition.not_hidden)  %></div>
        <div class="medium-3 columns"><%= f.association( :frame_damage_types, input_html: {class: 'chosen-select'}, collection: FrameDamageType.not_hidden ) %></div>
        <div class="medium-6 columns"><%= f.input :condition_frame_comments  %></div>
      </div>
      <%= f.association( :placeability, input_html: {class: 'chosen-select'})  %>
    </fieldset>
    <fieldset>
      <legend>Overig</legend>
      <%= f.input :other_comments  %>
      <%= f.association( :sources, input_html: {class: 'chosen-select'}, collection: Source.not_hidden) %>
      <%= f.input :source_comments  %>
    </fieldset>
    <fieldset>
      <legend>Typering</legend>
      <%= f.input( :abstract_or_figurative, collection: {Work.human_attribute_name(:abstract)=>'abstract', Work.human_attribute_name(:figurative)=>'figurative'},  as: :radio_buttons )  %>
      <%= f.association(:style, input_html: {class: 'chosen-select'}, collection: Style.not_hidden)  %>
      <%= f.association(:themes, input_html: {class: 'chosen-select', :multiple => true }, as: :grouped_select, collection: @collection.self_and_parent_collections_flattened.all_plus_a_fake_super_collection, group_method: :not_hidden_themes)  %>
      <%= f.association(:subset, input_html: {class: 'chosen-select'}, collection: Subset.not_hidden)  %>
      <%= f.label :locality_geoname_id, "Lokaliteit" %>
      <%= f.select :locality_geoname_id, { @work.locality_geoname_name => @work.locality_geoname_id}, {}, class: 'select2 ajax'  %>
    </fieldset>
    <fieldset>
      <%= f.input(:grade_within_collection, collection: %w{A B C D E F G})  %>
      <%= f.input(:main_collection)  %>
    </fieldset>
    <fieldset>
      <%= f.input :public_description %>
      <div class="row">
      <div class="medium-6 columns"><%= f.input :publish, collection: {"Ja"=>true, "Nee"=>false, "Onbekend"=>""}, as: :radio_buttons %></div>
      <div class="medium-6 columns"><%= f.input :image_rights, collection: {"Ja"=>true, "Nee"=>false, "Onbekend"=>""}, as: :radio_buttons %></div>
      </div>
      <%= f.input :internal_comments %>
      <!-- make sure manually fixed works aren't removed on rollback-->
      <%= f.input :imported_at, input_html: { value: ""}, as: :hidden %>
      <%= f.input :import_collection_id, input_html: { value: ""}, as: :hidden%>
    </fieldset>
  </div>

  <div class="form-actions">
    <hr/>
    <% if @work.id %>
    <label><%= check_box_tag 'submit_and_edit_next'%> <%=I18n.t(:save_and_edit_next) =%></label>
    <% end %>
    <%= f.button :submit, class: :button %>
    <% unless @work.id %>
      <%= f.button :submit, class: "button no-reload", value: "Werk toevoegen en volgende voorinvullen", data: { no_reload: true, confirm: "Het formulier wordt op de achtergrond verstuurd. Foto's worden niet opgeslagen bij deze handeling. Als u op OK drukt kunt u beginnen met het volgende werk." } %>
    <% end %>

  </div>
<% end %>
