<%
@work_display_form ||= WorkDisplayForm.new(display: :compact)

this_works_collection_work_url = work.id && !@for_print ? collection_work_path(work.collection_id, work.id) : "#"
%>
<% cache_unless(@no_work_cache, ["works/_work", "2.0.5", work, @work_display_form&.display_cache_key, @selection_filter&.[]("geoname_ids"), @for_print, params[:surface_calc]]) do %>
<div class="panel work<%=' external_inventory' if work.external_inventory?%> <%=@work_display_form&.display%>">
  <% if !@for_print && @work_set&.id && can?(:edit, @work_set) %>
  <div class="actions">
    <%= button_to('⨯', work_set_work_path(@work_set,work.id), method: :delete, class: [:alert, :button, :medium], title: "Verwijder werk uit deze groep", data: {confirm: "Weet je zeker dat je dit werk uit deze groep wilt verwijderen?"}) %>
  </div>
  <% end %>
  <div class="image_wrapper">
    <% if work.photo_front? %>
      <div class="image">
        <% if @for_print %>
          <%= image_tag("#{work.photo_front_url(:big_thumb)}?#{work.updated_at.to_i}", class: "nonlinked_show", decoding: 'async', alt: (work.description || ""))  %>
        <% else %>
          <noscript data-lazy="lazy-load">
            <%= link_to this_works_collection_work_url, class: :block do %>
              <%= image_tag("#{work.photo_front_url(:big_thumb)}?#{work.updated_at.to_i}", class: "nonlinked_show", decoding: 'async', alt: (work.description || ""))  %>
            <% end %>
          </noscript>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="data js-block-link">
    <% if !@for_print %>
    <label class="work-selector hide-for-print">
      <%= check_box_tag "selected_works[]", work.id, (params[:selected_works] && params[:selected_works][work.id]), id: "selected_works_#{work.id}" %>
    </label>
    <% end %>
      <p class="stocknumber"><%= @for_print ? work.stock_number : link_to(work.stock_number, this_works_collection_work_url) %><% if work.external_inventory? %><span title="Dit werk is niet door #{I18n.t(organisation.name)} geïnventariseerd">*</span><% end %></p>
        <% if @work_display_form&.display == :compact%>
        <h3><%= work.artist_name_rendered_without_years_nor_locality %></h3>
        <% else %>
        <h3><%= work.artist_name_rendered(include_years: true, include_locality: true)%></h3>
        <% end %>

        <h4><%= @for_print ? work.title_with_year_rendered : link_to(work.title_with_year_rendered, this_works_collection_work_url) %></h4>

        <p><%= work.description%></p>
        <%=
        case @work_display_form&.display
        when :complete, :detailed, :detailed_with_location_history, :detailed_discreet
          render :partial => 'works/work_detailed_data', locals: {work: work}
        when :limited, :limited_auction, :limited_selling_price, :limited_selling_price_and_default_rent_price, :limited_default_rent_price, :limited_business_rent_price, :limited_selling_price_and_business_rent_price
          render :partial => 'works/work_limited_data', locals: {work: work}
        end
        %>
  </div>
</div>
<% end %>