<div class="detailed_data row">
  <div class="medium-6 columns">
  <%= definition_list_for work, {render_as: :table} do %>
    <% if current_user.can_access_location_info? %>
      <tr><th><%=Work.human_attribute_name(:location)%></th><td><%=work.location%><% if current_user.can_quickedit_location_info? and work.id %>
        (<%= link_to 'bewerk', collection_work_edit_location_path(work.collection, work) %>)
      <% end %></td></tr>
      <tr><th><%=Work.human_attribute_name(:location_detail)%></th><td><%=work.location_detail%><% if current_user.can_quickedit_location_info? and work.id  %>
        (<%= link_to 'bewerk', collection_work_edit_location_path(work.collection, work) %>)
      <% end %></td></tr>
    <% end %>
    <%= define_unless_blank :alt_number_1, description: Work.human_attribute_name_overridden(:alt_number_1, @collection) %>
    <%= define_unless_blank :alt_number_2, description: Work.human_attribute_name_overridden(:alt_number_2, @collection) %>
    <%= define_unless_blank :alt_number_3, description: Work.human_attribute_name_overridden(:alt_number_3, @collection) %>
    <%= define_unless_blank :object_creation_year, description: 'Datering' %>
    <%= define_unless_blank :object_categories, {human_attributize_value: true} %>
    <%= define_unless_blank :techniques %>
    <%= define_unless_blank :medium, {classname: :complete_data} if @selection_display == "complete" %>
    <%= define_unless_blank :medium_comments, {classname: :complete_data} if @selection_display == "complete" %>
    <%= define_unless_blank :signature_rendered %>
    <%= define_unless_blank :object_format_code, {modifier: :upcase} %>
    <%= define_unless_blank :work_size, {description: "Afm. beeld (cm)"} %>
    <%= define_unless_blank :frame_size, {description: "Afm. lijst (cm)"}  %>
    <%= define_unless_blank :abstract_or_figurative_rendered, {classname: :complete_data} if @selection_display == "complete" %>
    <%= define_unless_blank :sources, {classname: :complete_data} if @selection_display == "complete" %>
    <%= define_unless_blank :source_comments, {classname: :complete_data} if @selection_display == "complete" %>
    <%= define_unless_blank :style, {classname: :complete_data} if @selection_display == "complete" %>
    <%= define_unless_blank :subset, {classname: :complete_data} if @selection_display == "complete" %>
    <%= define_unless_blank :collection_name_extended, {classname: :complete_data} if @selection_display == "complete" %>
    <%= define_unless_blank :themes, {classname: :complete_data} if @selection_display == "complete" %>
    <%= define_unless_blank :locality_geoname_name, {classname: :complete_data} if @selection_display == "complete" %>

    <%= define_unless_blank :print  %>
    <%= define_unless_blank :cluster, {classname: :complete_data} if @selection_display == "complete" %>
  <% end %>
  </div>
  <div class="medium-6 columns">

  <%= definition_list_for work, {render_as: :table} do %>

    <%= define_unless_blank :condition_work_rendered %>
    <%= define_unless_blank :condition_frame_rendered %>
    <%= define_unless_blank :placeability, {classname: :complete_data} if @selection_display == "complete" %>
    <%= define_unless_blank :grade_within_collection, {classname: :complete_data} if @selection_display == "complete"%>
    <%= define_unless_blank :information_back, description: "Info. achterz." %>
    <%= define_unless_blank :other_comments, description: "Overige opm." %>
    <%= define_unless_blank :internal_comments, {description: "Int. opm.", classname: :complete_data} if current_user.qkunst? %>
    <% if current_user.can_access_valuation? %>
      <%= define_unless_blank :purchase_price, modifier: :number_to_currency, description: "Aankoopwaarde" %>
      <%= define_unless_blank :market_value, modifier: :number_to_currency, description: "Marktwaarde" %>
      <%= define_unless_blank :replacement_value, modifier: :number_to_currency, description: "Vervangingswaarde" %>
      <%= define_unless_blank :price_reference, {classname: :complete_data} if @selection_display == "complete" if current_user.qkunst? %>
    <% end %>
    <%= define_unless_blank :created_at, {classname: :complete_data} if @selection_display == "complete" %>
  <% end %>
  </div>
</div>
