<div id="main">
<h2>Beprijs werk</h2>
<p>Beprijs <%= @work.stock_number%> <%= @work.name%></p>
<%= simple_form_for([@collection,@work]) do |f| %>
<%= f.input :minimum_bid %>
<%= f.input :selling_price %>
<%= f.input :selling_price_minimum_bid_comments %>
<%= f.submit class: :button%>
<% end %>
</div>