<h1>Collectie <%= @collection.name %></h1>

  <p id="offline" class="callout alert hide-for-print"></p>

  <div class="row">
    <%= form_tag collection_works_path, method: :get, authenticity_token: false, data: {auto_submit: true} do %>
      <input type="hidden" name="max_index" value="<%=@max_index%>" />
      <input type="hidden" name="no_child_works" value="<%=@no_child_works ? 1 : 0%>" />

    <div class="large-5 columns print-12">
      <p>Deze
        <% if @collection_works_count > @works_count %> (gefilterde) <% end %>
        collectie <% unless @selection[:group] == :no_grouping%><span class="hide-for-screen">is gegroepeerd op <%=I18n.t(@selection[:group], scope: [:activerecord, :attributes, :work])%> en </span><% end%>bevat
        <%= I18n.translate 'count.works', count:  @works_count %>
        <% if @collection_works_count > @works_count %>
          (van de <%= I18n.translate 'count.works', count:  @collection_works_count %>)
          <span class="hide-for-print">
            <br/>
            <%= link_to collection_works_path(@collection, params: params.merge({filter:{reset:true}, cluster_new: nil, utf8: nil, action:nil, batch_edit_property: nil, collection_id: nil, controller: nil, authenticity_token: nil, button: nil, no_child_works: nil}) ) do %>
              Reset filters
            <% end %>
          </span>
        <% end %>
        <% if qkunst_user? %><span class="select_all hide-for-print tertiary small button inline">Selecteer alles</span><% end %>
      </p>


    </div>
    <div class="large-7 columns">
      <div class="right hide-for-print row" id="group_sort_display">
        <% unless current_user.read_only? %>
          <label class="small-4 columns">Groepeer: <%= select_tag :group, options_for_select(@selection_group_options, @selection[:group]), data: {auto_submit: true}  %></label>
        <% end %>
        <label class="small-4 columns">Sorteer: <%= select_tag :sort, options_for_select({
          "Inventarisnummer"=>:stock_number,
          "Kunstenaar"=>:artist_name
        }, @selection[:sort]), data: {auto_submit: true}  %></label>
        <label class="small-4 columns">Weergave: <%= select_tag :display, options_for_select(@selection_display_options, @selection[:display]), data: {auto_submit: true}  %></label>
      </div>
    </div>
    <div class="columns"></div>
    <% if @works_count > @max_index+1%>
    <div class="columns callout" style="text-align: center">
      <p>Momenteel wordt slechts een beperkt aantal werken getoond <%= link_to "Toon alle werken", collection_works_path(@collection, params: {max_index: 9999999}), class: "hide-for-print button inline small secondary"%></p>
    </div>
    <% end %>
    <aside class="large-2 medium-2 columns filter hide-for-print end">
      <h4>Zoeken</h4>
      <%= text_field_tag :q, @search_text, type: :search, placeholder: "Zoeken... "%>
      <p class="hint"><small>Probeer ook: <%=["“wildc*rd”", "“één OR ander”", "“\"exacte match\"”", "“fuzzy~”"].sample(2).join(" of ")%></small></p>
      <h4>Filteren</h4>

      <% unless current_user.read_only? %>
        <% if current_user.can_filter_and_group?(:object_categories) %>
          <%= filter_checkboxes_with_header("Categorie", @aggregations[:object_categories], "object_categories.id") %>
        <% end %>
        <%= filter_checkboxes_with_header("Cluster", @aggregations[:cluster], "cluster_id") %>
        <%= filter_checkboxes_with_header("Kerncollectie", @aggregations[:main_collection], "main_collection") %>
        <%= filter_checkboxes_with_header("Deelcollectie", @aggregations[:subset], "subset_id") %>
        <% if current_user.can_filter_and_group?(:sources) %>
          <%= filter_checkboxes_with_header("Herkomst", @aggregations[:sources], "sources.id") %>
        <% end %>

        <%= filter_checkboxes_with_header("Niveau", @aggregations[:grade_within_collection], "grade_within_collection") %>
        <%= filter_checkboxes_with_header("Plaatsbaarheid", @aggregations[:placeability], "placeability_id") %>
      <% end %>

      <%= filter_checkboxes_with_header("Thema", @aggregations[:themes], "themes.id") %>

      <% if current_user.can_filter_and_group?(:locality_geonames_id) %>
        <h5>Lokaliteit</h5>
        <%= select_tag "filter[locality_geoname_id][]", options_from_aggregation_for_select(@aggregations[:geoname_ids], @filter_localities), placeholder: "Type een lokaliteit...", multiple: true, class: 'select2'%>
      <% end %>
      <% if current_user.can_filter_and_group?(:locality_geonames_id) %>
        <h5>Tags</h5>
        <select id="works_tags" class="select2 tags" multiple="multiple" name="filter[tag_list][]">
          <% (@selection_filter["tag_list"] || []).each do |tag|%>
            <option selected="selected" value="<%=tag%>"><%=tag%></option>
          <% end %>
        </select>
      <% end %>

      <hr/>
      <%= button_tag type: :submit, class: :button do %>Filter<% end %>

      <%= button_tag type: :submit, name: :filter, value: nil, class: :inline do %>Reset filters<% end %>
    </aside>
    <% end #formtag /works?q... %>
    <%= form_tag collection_works_batch_edit_path, method: :post do %>
    <div class="large-10 medium-10 columns print-12" id="works-list">
      <%= kramdown( @collection.description) %>

      <% if defined?(@works_grouped) %>
        <% if @works_grouped[nil] %>
          <% works = @works_grouped[nil] %>
          <div class="select_all_scope cluster">
            <h3>Overige werken (geen <%= I18n.t(@selection[:group], scope: [:activerecord,:attributes,:work]).downcase %>)</h3>
            <p>Deze groep bevat <%= I18n.translate 'count.works', count: works.count %>
              <% if qkunst_user? %><span class="select_all hide-for-print tertiary small button inline">Selecteer alles</span></p><% end %>
              <%= render partial: 'index_works', locals: {works: works, max_index: @max_index}%>
            </div>
          <hr/>
        <% end %>
        <% @works_grouped.each do |cluster, works| %>
          <% if cluster %>
            <div class="select_all_scope cluster">
              <h3><%= cluster.methods.include?(:name) ? cluster.name : cluster %></h3>
              <p>Deze groep bevat <%= I18n.translate 'count.works', count: works.count %>
                <% if qkunst_user? %><span class="select_all hide-for-print tertiary small button inline">Selecteer alles</span><% end %>
                <% if cluster.is_a? Cluster %>
                  <span class="hide-for-print"><%= link_to 'Bewerk clusternaam en beschrijving', edit_collection_cluster_path(@collection,cluster) if qkunst_user? %></span>
                <% end %>
              </p>
              <%= kramdown(cluster.description) if cluster.methods.include?(:description) %>
              <%= render partial: 'index_works', locals: {works: works, max_index: @max_index}%>
            </div>
            <hr/>
          <% end %>
        <% end %>
      <% else %>
        <%= render partial: 'index_works', locals: {works: @works, max_index: @max_index}%>
      <% end %>
    </div>
    <% if current_user.qkunst? %>
      <div id="selected-works" class="row">

        <div class="medium-12 columns">
            <p>Beschikbare acties en aanpasbare eigenschappen op de <span id="selected-works-count">x</span> geselecteerde werken:</p>
            <div class="button-row">
              <div class="button-group">
                <%= button_tag type: :submit, name: :batch_edit_property, value: :cluster, class: :button do %>Verplaats naar cluster<% end %>
                <%= button_tag type: :submit, name: :batch_edit_property, value: :cluster_id_nil, class: :button do %>Haal uit cluster<% end %>
                <%= button_tag type: :submit, name: :batch_edit_property, value: :cluster_id_new, class: :button do %>Nieuw cluster<% end %>
              </div>
              <%= button_tag type: :submit, name: :batch_edit_property, value: :grade_within_collection, class: :button do %>Niveau<% end %>
              <%= button_tag type: :submit, name: :batch_edit_property, value: :location, class: :button do %>Locatie<% end %>
              <%= button_tag type: :submit, name: :batch_edit_property, value: :collection, class: :button do %>Collectie<% end %>
              <%= button_tag type: :submit, name: :batch_edit_property, value: :subset, class: :button do %>Deelcollectie<% end %>
              <%= button_tag type: :submit, name: :batch_edit_property, value: :techniques, class: :button do %>Technieken<% end %>
              <%= button_tag type: :submit, name: :batch_edit_property, value: :sources, class: :button do %>Herkomst<% end %>
              <%= button_tag type: :submit, name: :batch_edit_property, value: :themes, class: :button do %>Thema’s<% end %>
            </div>
        </div>
      </div>
    <% end %>
    <% end #//formtag%>
  </div>

  <% content_for :footer do %>
  <p>Dit overzicht is gemaakt op <%= I18n.l Time.now, format: :long %>.</p>
  <% end %>


<script type="text/javascript">
  $(function() {
    var offline_stored_count = (FormStore.Store.count_by_key_start("<%=collection_works_url(@collection)%>"));
    if (offline_stored_count > 0) {
      $('#offline').text("Er zijn "+offline_stored_count+" werk(en) nog niet gesynchroniseerd met de server, zodra de server terug online is worden deze opnieuw geprobeerd");

      // document.getElementById("offline").innerHtml="Er zijn "+offline_stored_count;
    } else {
      $('#offline').hide()
    }
  });
</script>