<h1>Collectie <%= @collection.name %></h1>
<%= form_tag collection_works_path, method: :get, authenticity_token: false, data: {auto_submit: true} do %>
  <input type="hidden" name="max_index" value="<%=@max_index%>" />
  <input type="hidden" name="no_child_works" value="<%=@no_child_works ? 1 : 0%>" />

  <p id="offline" class="callout alert hide-for-print"></p>

  <div class="row">
    <div class="large-5 columns print-12">
      <p>Deze
        <% if @collection_works_count > @works_count %> (gefilterde) <% end %>
        collectie <% unless @selection[:group] == :no_grouping%><span class="hide-for-screen">is gegroepeerd op <%=I18n.t(@selection[:group], scope: [:activerecord, :attributes, :work])%> en </span><% end%>bevat
        <%= I18n.translate 'count.works', count:  @works_count %>
        <% if @collection_works_count > @works_count %>
          (van de <%= I18n.translate 'count.works', count:  @collection_works_count %>)
          <span class="hide-for-print">
            <br/>
            <%= link_to collection_works_path(@collection, params: params.merge({filter:{reset:true}, cluster_new: nil, utf8: nil, action:nil, batch_edit_property: nil, collection_id: nil, controller: nil, authenticity_token: nil, button: nil, no_child_works: nil}) ) do %>
              Reset filters
            <% end %>
          </span>
        <% end %>
        <% if qkunst_user? %><span class="select_all hide-for-print tertiary small button inline">Selecteer alles</span><% end %>
      </p>


    </div>
    <div class="large-7 columns">
      <div class="right hide-for-print" id="group_sort_display">
        <% unless current_user.read_only? %>
          <label>Groepeer: <%= select_tag :group, options_for_select(@selection_group_options, @selection[:group]), data: {auto_submit: true}  %></label>
        <% end %>
        <label>Sorteer: <%= select_tag :sort, options_for_select({
          "Inventarisnummer"=>:stock_number,
          "Kunstenaar"=>:artist_name
        }, @selection[:sort]), data: {auto_submit: true}  %></label>
        <label>Weergave: <%= select_tag :display, options_for_select(@selection_display_options, @selection[:display]), data: {auto_submit: true}  %></label>
      </div>
  </div>
  </div>
    <% if @works_count > @max_index+1%>
  <div class="row columns callout" style="text-align: center">
    <p>Momenteel wordt slechts een beperkt aantal werken getoond <%= link_to "Toon alle werken", collection_works_path(@collection, params: {max_index: 9999999}), class: "hide-for-print button inline small secondary"%></p>
  </div>
    <% end %>
  <div class="row">
    <aside class="large-2 medium-2 columns filter hide-for-print">
      <h4>Zoeken</h4>
      <%= text_field_tag :q, @search_text, type: :search, placeholder: "Zoeken... "%>
      <p class="hint"><small>Probeer ook: <%=["“wildc*rd”", "“één OR ander”", "“\"exacte match\"”", "“fuzzy~”"].sample(2).join(" of ")%></small></p>
      <h4>Filteren</h4>

      <% unless current_user.read_only? %>
        <% if current_user.can_filter_and_group?(:object_categories) %>
          <%= filter_checkboxes_with_header("Categorie", @aggregations[:object_categories], "object_categories.id") %>
        <% end %>
        <%= filter_checkboxes_with_header("Cluster", @aggregations[:cluster], "cluster_id") %>
        <%= filter_checkboxes_with_header("Kerncollectie", @aggregations[:main_collection], "main_collection") %>
        <%= filter_checkboxes_with_header("Deelcollectie", @aggregations[:subset], "subset_id") %>
        <% if current_user.can_filter_and_group?(:sources) %>
          <%= filter_checkboxes_with_header("Herkomst", @aggregations[:sources], "sources.id") %>
        <% end %>

        <%= filter_checkboxes_with_header("Niveau", @aggregations[:grade_within_collection], "grade_within_collection") %>
        <%= filter_checkboxes_with_header("Plaatsbaarheid", @aggregations[:placeability], "placeability_id") %>
      <% end %>

      <%= filter_checkboxes_with_header("Thema", @aggregations[:themes], "themes.id") %>

      <% if current_user.can_filter_and_group?(:locality_geonames_id) %>
        <h5>Lokaliteit</h5>
        <%= select_tag "filter[locality_geoname_id][]", options_from_aggregation_for_select(@aggregations[:geoname_ids], @filter_localities), multiple: true, class: 'select2'%>
      <% end %>

      <hr/>
      <%= button_tag type: :submit, class: :button do %>Filter<% end %>

      <%= button_tag type: :submit, name: :filter, value: nil, class: :inline do %>Reset filters<% end %>
    </aside>
    <div class="large-10 medium-10 columns print-12" id="works-list">

      <%= Kramdown::Document.new( @collection.description).to_html.html_safe if @collection.description %>


      <% if defined?(@works_grouped) %>
        <% if @works_grouped[nil] %>
          <% works = @works_grouped[nil] %>
          <div class="select_all_scope cluster">
            <h3>Overige werken (geen <%= I18n.t(@selection[:group], scope: [:activerecord,:attributes,:work]).downcase %>)</h3>
            <p>Deze groep bevat <%= I18n.translate 'count.works', count: works.count %>
              <% if qkunst_user? %><span class="select_all hide-for-print tertiary small button inline">Selecteer alles</span></p><% end %>
            <%= render works[0..@max_index]%>
            <% if works.count > @max_index+1%>
            <p><%= link_to "Toon alle werken", collection_works_path(@collection, params: {max_index: 9999999}), class: "hide-for-print button"%><span class="show-for-print">Er wordt slechts een beperkt aantal werken getoond.</span></p>
            <% end %>
            </div>
          <hr/>
        <% end %>
        <% @works_grouped.each do |cluster, works| %>
          <% if cluster %>
            <div class="select_all_scope cluster">
              <h3><%= cluster.methods.include?(:name) ? cluster.name : cluster %></h3>
              <p>Deze groep bevat <%= I18n.translate 'count.works', count: works.count %>
                <% if qkunst_user? %><span class="select_all hide-for-print tertiary small button inline">Selecteer alles</span><% end %>
                <% if cluster.is_a? Cluster %>
                  <span class="hide-for-print"><%= link_to 'Bewerk clusternaam en beschrijving', edit_collection_cluster_path(@collection,cluster) if qkunst_user? %></span>
                <% end %>
              </p>
              <%= Kramdown::Document.new(cluster.description).to_html.html_safe if cluster.methods.include?(:description) and cluster.description%>
              <%= render works[0..@max_index]%>
              <% if works.count > @max_index+1%>
              <p><%= link_to "Toon alle werken", collection_works_path(@collection, params: {max_index: 9999999}), class: "hide-for-print button"%><span class="show-for-print">Er wordt slechts een beperkt aantal werken getoond.</span></p>
              <% end %>
            </div>
            <hr/>
          <% end %>
        <% end %>
      <% else %>
        <%= render @works[0..@max_index] %>
        <% if @works_count > (@max_index + 1)%>
          <p><%= link_to "Toon alle werken", collection_works_path(@collection, params: {max_index: 9999999}), class: "hide-for-print button"%><span class="show-for-print">Er wordt slechts een beperkt aantal werken getoond.</span></p>
        <% end %>
      <% end %>
    </div>
  </div>

  <% content_for :footer do %>
  <p>Dit overzicht is gemaakt op <%= I18n.l Time.now, format: :long %>.</p>
  <% end %>
  <div id="selected-works" class="row">

    <div class="medium-12 columns">

    <p>Verander <span id="selected-works-count">x</span> werken:
      <%= select_tag "batch_edit_property", grouped_options_for_select(@batch_edit_options, params[:batch_edit_property])
%> <label id="new-batch-edit-name">met naam <input name="batch_edit_new_name" type="text" /></label>
<%= button_tag type: :submit, method: :post, value: :batch_edit, name: :batch_edit, class: :button, data: {confirm: "Weet u zeker dat u deze werken wilt aanpassen?"} do %>Opslaan<% end %>
    </div>
  </div>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

<% end %>

<script type="text/javascript">
  $(function() {
    var offline_stored_count = (FormStore.Store.count_by_key_start("<%=collection_works_url(@collection)%>"));
    if (offline_stored_count > 0) {
      $('#offline').text("Er zijn "+offline_stored_count+" werk(en) nog niet gesynchroniseerd met de server, zodra de server terug online is worden deze opnieuw geprobeerd");

      // document.getElementById("offline").innerHtml="Er zijn "+offline_stored_count;
    } else {
      $('#offline').hide()
    }
  });
</script>