<h2>Collectie <%= @collection.name %></h2>

<p id="offline-works-message" data-collection-id="<%= @collection.id %>" class="callout alert hide-for-print hide"></p>

<%= form_tag collection_works_path, method: :get, authenticity_token: false, data: {auto_submit: true} do %>
  <div class="row">
      <input type="hidden" name="max_index" value="<%=@max_index%>" />
      <input type="hidden" name="no_child_works" value="<%=@no_child_works ? 1 : 0%>" />

      <div class="large-6 columns">
        <p><%= describe_work_counts %>
          <br/>
          <% if @collection_works_count > @works_count %>
            <span class="hide-for-print"><%= link_to "Reset filters", collection_works_path(@collection, params: {filter: {reset: true}}), class: [:inline, :small] %></span>
          <% end %>
          <% if qkunst_user? %><button type="button" class="select_all hide-for-print tertiary small button" id="global-select-button" data-work-count="<%=@inventoried_objects_count%>">Selecteer alles</button><% end %>
        </p>
      </div>

      <div class="large-6 columns">
        <div class="right hide-for-print row columns" id="group_sort_display">
          <details class="right">
            <summary class="button tertiary right">Weergave</summary>
              <div class="details__body details__body--overlay display__body--wider  small-12 columns" >
              <%= simple_fields_for @work_display_form do |work_display_form|%>
                <div class="row">
                <% unless current_user.read_only? %>
                  <label class="medium-3 small-6 columns">Groepeer: <%= work_display_form.select :group, @work_display_form.group_options  %></label>
                <% end %>
                <label class="medium-3 small-6 columns">Sorteer: <%= work_display_form.select :sort, @work_display_form.sort_options  %></label>
                </div>
                <div class="row">
                <label class="medium-3 small-6 columns">Weergave: <%= work_display_form.select :display, @work_display_form.display_options  %></label>
                </div>
                <%=work_display_form.input :hide_empty_fields, as: :boolean%>
                <details>
                  <summary>Selecteer velden voor een aangepaste weergave</summary>
                  <div class="columned-inputs">
                    <%= work_display_form.collection_check_boxes(:attributes_to_display, @work_display_form.selectable_work_attributes.map{|a| [a, Work.human_attribute_name_overridden(a, @collection)]}.sort{|a,b| a[1]<=>b[1]}, :first, :last) %>
                  </div>
                </details>
                <div class="actions row">
                  <div class="columns">
                    <input type="submit" value="Pas weergave aan" class="button primary" />
                  </div>
                </div>
              <% end %>
            </div>
          </details>
          <% if can?(:download_datadump, @collection) or can?(:download_photos, @collection) or can?(:download_pdf, @collection) %>
            <details class="right">
              <summary class="button tertiary right">Download</summary>
              <div class="details__body details__body--overlay small-12 columns" >
                <ul class="menu vertical">
                  <% if can? :download_datadump, @collection  %>
                    <li><%=link_to ".xlsx", collection_works_path(@collection, format: :xlsx, params: @cleaned_params.merge({audience: :default})) %></li>
                    <li><%=link_to ".xml", collection_works_path(@collection, format: :xml, params: @cleaned_params.merge({audience: :default})), { download: "Werken.xml" } %></li>
                  <% end %>
                  <% if can? :download_pdf, @collection  %>
                    <li><%=link_to ".pdf", collection_works_path(@collection, format: :pdf, params: @cleaned_params.merge({audience: :default})) %></li>
                  <% end %>
                  <% if can?(:download_title_labels, @collection) %>
                    <% @collection.pdf_title_export_variants.each do |key, params| %>
                      <% variant_suffix = key != :default ? "; #{key}" : nil %>
                      <li><%=link_to ".pdf <small>(titels#{variant_suffix})</small>".html_safe, collection_works_path(@collection, format: :pdf, params: @cleaned_params.merge(params).merge({as: :title_labels})) %></li>
                      <% if @collection.unique_short_code_from_self_or_base.present? %>
                        <li><%=link_to ".pdf <small>(titels+QR#{variant_suffix})</small>".html_safe, collection_works_path(@collection, format: :pdf, params: @cleaned_params.merge(params).merge({as: :title_labels, qr_code_enabled: true, resource_variant: :public})) %></li>
                      <% end %>
                    <% end %>
                  <% end %>
                  <% if can? :download_public_datadump, @collection %>
                    <li><%=link_to ".xml <small>(publiek)</small>".html_safe, collection_works_path(@collection, format: :xml, params: @cleaned_params.merge({audience: :public})), { download: "Pubic.xml", title: "xml-file zonder gevoelige informatie" } %></li>
                  <% end %>
                  <% if can? :download_photos, @collection  %>
                    <li><%=link_to ".zip <small>(alle foto’s)</small>".html_safe, collection_works_path(@collection, params: @cleaned_params, format: :zip), title: "zip-file met alle foto’s, geschatte grootte: #{number_to_human_size(@works_count * 2.5 * 417582 )}" %></li>
                    <li><%=link_to ".zip <small>(foto’s voor)</small>".html_safe, collection_works_path(@collection, format: :zip, params: @cleaned_params.merge({only_front: true})), title: "zip-file met foto’s van de voorzijde van de werken, geschatte grootte: #{number_to_human_size(@works_count * 417582 )}" %></li>
                    <li><%=link_to ".zip <small>(foto’s publiek)</small>".html_safe, collection_works_path(@collection, format: :zip, params: @cleaned_params.merge({only_front: true, published: true})), title: "zip-file met publiceerbare foto’s, geschatte grootte: #{number_to_human_size(@works_count * 417582 )}" %></li>
                  <% end %>
                </ul>
              </div>
            </details>
          <% end %>
        </div>
      </div>
  </div>

  <div class="row">
    <% if @inventoried_objects_count > @max_index+1 && !params[:min_index]%>
    <div class="columns callout" style="text-align: center">
      <p>Momenteel wordt slechts een beperkt aantal werken getoond <%= link_to "Toon alle werken", collection_works_path(@collection, params: @cleaned_params.merge({max_index: 9999999})), class: "hide-for-print button inline small secondary"%></p>
    </div>
    <% elsif params[:min_index] %>
    <div class="columns callout hide-for-print" style="text-align: center">
      <p>
        <% if @min_index > 0 %>
        <%= link_to "←", collection_works_path(@collection, params: @cleaned_params.merge({min_index: @min_index-(@max_index-@min_index)-1, max_index: @min_index-1 })), class: " button inline small secondary"%>
        <% end %>
        <% if  @max_index <= @inventoried_objects_count %>
        <%= link_to "→", collection_works_path(@collection, params: @cleaned_params.merge({min_index: @max_index+1, max_index: (@max_index+@max_index-@min_index+1) })), class: " button inline small secondary"%>
        <% end %>
      </p>
    </div>
    <% end %>
  </div>

  <aside class="large-2 medium-2 columns filter hide-for-print end">
    <h4>Zoeken</h4>
    <%= text_field_tag :q, @search_text, type: :search, placeholder: "Zoeken... "%>
    <p class="hint"><small>Probeer ook: <%=["“wildc*rd”", "“één OR ander”", "“\"exacte match\"”", "“fuzzy~”"].sample(2).join(" of ")%></small></p>
    <div data-responsive-toggle="responsive-filter" class="hide-for-medium hide-for-print responsive-toggle right">
      <button class="menu-icon dark" type="button" data-toggle></button>
    </div>
    <h4>Filteren</h4>
    <div id="responsive-filter">

    <% if @collection.show_availability_status? %>
      <%= filter_checkbox :availability_status, :available, name: "Beschikbaar" %>
      <div class="hide">
      <%= filter_checkbox :availability_status, :sold, name: "Verkocht" %>
      <%= filter_checkbox :availability_status, :lent, name: "Verhuurd" %>
      </div>
    <% end%>

    <% unless current_user.read_only? %>

      <% if current_user.can_filter_and_group?(:object_categories) %>
        <%= filter_checkboxes_with_header("Categorie", @aggregations[:object_categories], "object_categories.id") %>
      <% end %>
      <%= filter_checkboxes_with_header("Cluster", @aggregations[:cluster], "cluster_id") %>
      <%= filter_checkboxes_with_header("Kerncollectie", @aggregations[:main_collection], "main_collection") %>
      <%= filter_checkboxes_with_header("Deelcollectie", @aggregations[:subset], "subset_id") %>
      <% if current_user.can_filter_and_group?(:sources) %>
        <%= filter_checkboxes_with_header("Herkomst", @aggregations[:sources], "sources.id") %>
      <% end %>

      <%= filter_checkboxes_with_header("Niveau", @aggregations[:grade_within_collection], "grade_within_collection") %>
      <%= filter_checkboxes_with_header("Plaatsbaarheid", @aggregations[:placeability], "placeability_id") %>
    <% end %>

    <%= filter_checkboxes_with_header("Thema", @aggregations[:themes], "themes.id") %>

    <% if current_user.can_filter_and_group?(:geoname_ids) %>
      <h5>Lokaliteit</h5>
      <%= select_tag "filter[geoname_ids][]", options_from_aggregation_for_select(@aggregations[:geoname_ids], @filter_localities), placeholder: "Type een lokaliteit...", multiple: true, class: 'select2'%>
    <% end %>
    <h5>Tags</h5>
    <select id="works_tags" class="select2 tags" multiple="multiple" name="filter[tag_list][]">
      <% (@selection_filter["tag_list"] || []).each do |tag|%>
        <option selected="selected" value="<%=tag%>"><%=tag%></option>
      <% end %>
    </select>
    <div class="form-actions hide-for-print">
    <p>
      <%= button_tag type: :submit, class: :button do %>Filter<% end %>
      <% if @collection_works_count > @works_count %>
        <span class="hide-for-print"><%= link_to "Reset filters", collection_works_path(@collection, params: {filter: {reset: true}}), class: [:inline, :small] %></span>
      <% end %>
    </p>
    </div>
    </div>

    <div class="hidden inputs">
      <%= data_to_hidden_inputs({filter: @selection_filter.select{|k,v| [k,v] unless %w[geoname_ids tag_list placeability_id grade_within_collection sources.id subset_id main_collection cluster_id object_categories.id availability_status].include?(k)}}) %>
    </div>

  </aside>
<% end #formtag /works?q... %>

<%= form_tag collection_batch_path, method: :post do %>

  <div class="large-10 medium-10 columns print-12 <%=@show_work_checkbox ? "show-work-checkbox" : ""%> sort-<%=@work_display_form&.sort%>" id="works-list">
    <% if defined?(@works_grouped) %>
      <% if @works_grouped[nil] %>
        <% works = @works_grouped[nil] %>
        <div class="select_all_scope cluster">
          <h3>Overige werken (geen <%= I18n.t(@work_display_form.group, scope: [:activerecord,:attributes,:work]).downcase %>)</h3>
          <p>
            Deze groep bevat <%= I18n.translate 'count.inventoried_objects_count', count: works.count %>
            <% if qkunst_user? %><button type="button" class="select_all hide-for-print tertiary small button">Selecteer alles</button><% end %>
            <label class="work-selector hide">
              <%= check_box_tag "selected_work_groups[#{@work_display_form.group}][]", Work::Search::NOT_SET_VALUE, (params[:selected_work_groups] && params[:selected_works][@work_display_form.group] && params[:selected_works][@work_display_form.group][Work::Search::NOT_SET_VALUE]), id: "selected_work_groups_#{@work_display_form.group}_#{Work::Search::NOT_SET_VALUE}", data: {work_count: works.count} unless Array(params[:ids]).any?  %>
            </label>
          </p>
            <%= render partial: 'index_works', locals: {works: works, max_index: @max_index}%>
          </div>
        <hr/>
      <% end %>
      <% @works_grouped.each do |cluster, works| %>
        <% if cluster %>
          <div class="select_all_scope cluster">
            <h3><%= cluster.methods.include?(:name) ? cluster.name : cluster %></h3>
            <p>Deze groep bevat <%= I18n.translate 'count.inventoried_objects_count', count: works.count %>
              <% if cluster.is_a? Cluster %>
                <span class="hide-for-print"><%= link_to 'Bewerk clusternaam en beschrijving', edit_collection_cluster_path(@collection,cluster) if qkunst_user? %></span>
              <% end %>
              <% if qkunst_user? %><button type="button" class="select_all hide-for-print tertiary small button">Selecteer alles</button><% end %>
              <label class="work-selector hide">
                <% cluster_id = cluster.methods.include?(:id) ? cluster.id : cluster %>
                <%= check_box_tag "selected_work_groups[#{@work_display_form.group}][]", cluster_id, (params[:selected_work_groups] && params[:selected_works][@work_display_form.group] && params[:selected_works][@work_display_form.group][cluster_id]), id: "selected_work_groups_#{@work_display_form.group}_#{cluster_id}", data: {work_count: works.count} unless Array(params[:ids]).any? %>
              </label>
            </p>
            <%= kramdown(cluster.description) if cluster.methods.include?(:description) %>
            <%= render partial: 'index_works', locals: {works: works, max_index: @max_index}%>
          </div>
          <hr/>
        <% end %>
      <% end %>
    <% else %>
      <label class="work-selector hide">
        <%= check_box_tag("selected_work_groups[all][]", "all", (params[:selected_work_groups] && params[:selected_works][@work_display_form.group] && params[:selected_works][@work_display_form.group][Work::Search::NOT_SET_VALUE]), id: "selected_work_groups_all_all", data: {work_count: @inventoried_objects_count}) unless Array(params[:ids]).any? %>
      </label>

      <%= render partial: 'index_works', locals: {works: @works, max_index: @max_index}%>
    <% end %>

  </div>
  <div class="hidden inputs for batch filter">
    <%= all_filter_data_to_hidden_inputs %>
  </div>
  <%= render :partial => 'batch_edit_actions' %>
<% end #//batcheditformtag%>

<% content_for :footer do %>
<p>Dit overzicht is gemaakt op <%= I18n.l Time.current, format: :long %>. <%= I18n.t "general.footer_message", default: nil %></p>
<% end %>