<div id="main">
<h2>Locatie geschiedenis</h2>
<p>Locatiegeschiedenis van <%= @work.stock_number%>: <%= @work.name%></p>

<table>
  <thead>
    <tr>
    <%[:updated_at, :user, :location, :location_floor, :location_detail].each do |key|%>
      <th><%= Work.human_attribute_name(key)%></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
    <% @versions.each do |version| %>
    <tr>
      <td>
        <%=I18n.l version[:created_at] %>
        <% if version[:event] == "create" %><small><br/>Moment van aanmaak</small><% end %>
      </td>
      <td><%=version[:user]%></td>

      <%[:location, :location_floor, :location_detail].each do |key|%>
        <td><%= version[key] %></td>
      <% end %>
    </tr>
    <% end%>
  </tbody>
</table>
</div>