<h2>Recent gewijzigd in <%= @collection.name%></h2>
<%= simple_form_for @form, method: :get do |f| %>
<fieldset class="row">
  <div class="small-6 columns">
    <%= f.input :only_location_changes, label: "Alleen locatiewijzigingen", as: :boolean%>
    <%= f.input :only_non_qkunst, label: "Alleen niet-qkunst wijzigingen", as: :boolean%>
  </div>
  <div class="small-6 columns">
    <%= f.input :from_date, label: "Wijzigingen van", as: :date, html5: true, input_html: {pattern: "\d{4}-\d{2}-\d{2}"}%>
    <%= f.input :to_date, label: "Wijzigingen tot", as: :date, html5: true, input_html: {pattern: "\d{4}-\d{2}-\d{2}"}%>
  </div>
</fieldset>
<%= f.submit "Filter", class: :button%>
<% end%>
<% if @result_count < @unlimited_result_count%>
<div class="callout primary">
  Merk op: Er worden <%= I18n.t "count.changes", count: @result_count%>  getoond, van de  <%= I18n.t "count.changes", count: @unlimited_result_count%>. Beperkt de selectie.
</div>
<% else %>
<div class="callout secondary">
  Dit overzicht bevat <%= I18n.t "count.changes", count: @result_count%>
</div>
<% end %>
<table>
  <thead>
    <tr>
      <th>Datum wijziging</th>
      <th>Inventarisnr.</th>
      <th>Vervaardiger</th>
      <th>Titel</th>
      <th>Wijzigingen</th>
      <th>Gebruiker</th>
    </tr>
  </thead>
  <tbody>
    <% @works_with_version_created_at.each do |work_with_version_created_at| %>
      <% work = work_with_version_created_at[1] %>
      <% if work %>
        <% created_at = work_with_version_created_at[0] %>
        <% user = work_with_version_created_at[2] %>
        <% changes = work_with_version_created_at[3] %>
        <tr>
          <td><%= link_to I18n.l(created_at, format: :short), collection_work_path(@collection, work) %></td>
          <td><%= link_to work.stock_number || "-", collection_work_path(@collection, work) %></td>
          <td><%= link_to work.artist_name_rendered || "-", collection_work_path(@collection, work) %></td>
          <td><%= link_to work.title_rendered, collection_work_path(@collection, work) %></td>
          <td><%= render_object_changes_json changes %></td>
          <td><%= link_to user || "onbekend", collection_work_path(@collection, work) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
