<header class="row">
  <div class="large-10 columns">
      <% if @work.artists.count > 0 %>
        <h2 class="subheader"><% @work.artists.uniq.each do |artist| %><%= link_to artist.name(include_years: true, include_locality: true, rebuild: true), [@work.collection, artist].compact %> <% end %></h2>
      <% end %>

    <h1><%= @work.title_rendered %> <small>         <% if qkunst_user? %>
          (<%= link_to 'Bewerk gegevens', edit_collection_work_path(@collection,@work) %>)
        <% end %></small></h1>
  </div>
  <div class="medium-2 columns">
    <nav class="right" id="stocknumber-nav"><%= link_to "◀", [@collection, @work.previous] %><span class="stocknumber"><%= @work.stock_number %></span><%= link_to "▶", [@collection, @work.next] %></nav>
    <p class="meta">Toegevoegd <%= "door #{@work.created_by_name}" if current_user.qkunst? %> op <br/><%= I18n.l @work.created_at, {format: :short}%></p>
  </div>
  <div class="large-12 columns">
    <p>
      <%= simple_format @work.description %>
    </p>
    <% if @work.public_description? %>
    <h4>Toelichting bij kunstwerk</h4>
    <p>
      <%= simple_format @work.public_description %>
    </p>
    <% end %>
  </div>
</header>


<% if @work.photos?%>
  <div class="imageviewer">
    <%= image_tag(@work.photo_front? ? @work.photo_front_url(:screen) : '' , class: :show)  %>
    <ul class="thumbs" >
      <% if current_user.can_edit_photos? %>
      <li><%= link_to "Beheer foto's", collection_work_edit_photos_path(@collection,@work), data: { open_in_context: true}, class: [:button, :secondary, :expanded, :right]%></li>
      <% end %>
      <% [:front,:back,:detail_1,:detail_2].each do |phototype| %>
        <% if @work.send("photo_#{phototype}?".to_sym) %>
          <li title="<%= Work.human_attribute_name "photo_#{phototype}"%>">
            <%= link_to "#{@work.send("photo_#{phototype}".to_sym).screen.url}?#{@work.updated_at.to_i}" do %>
              <%= image_tag("#{@work.send("photo_#{phototype}".to_sym).thumb.url}?#{@work.updated_at.to_i}") %>
            <% end %>
            <% if current_user.can_edit_photos? %>
              <%= button_to 'x', collection_work_path(@collection, @work), params: {"work[remove_photo_#{phototype}]" => true}, method: :patch, class: 'small alert button', data: {confirm: "Weet je zeker dat je deze foto wilt verwijderen"}%>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% else %>
  <div class="callout">
    <% if current_user.can_edit_photos? %>
    <p>Dit werk heeft nog geen foto's <%= link_to "Voeg foto’s toe", collection_work_edit_photos_path(@collection,@work), data: { open_in_context: true}, class: [:button, :inline]%></p>
    <% else %>
    <p>Er zijn aan dit werk nog geen foto's toegekend.</p>
    <% end %>
  </div>
<% end %>
<div class="row">
  <div class="column">

  </div>
</div>

<div class="row">
  <div class="small-6 column">
    <h3 class="left">Details <small><% if qkunst_user? %>
          (<%= link_to 'Bewerk gegevens', edit_collection_work_path(@collection,@work) %>)
        <% end %></small></h3>
  </div>
  <div class="small-6 column">
    <nav>
      <ul class="menu">

        <% if can? :create, Appraisal %>
          <li class="right"><%= link_to 'Waardeer', new_collection_work_appraisal_path(@collection,@work), class: 'primary small button right', data: { open_in_context: true}%></li>
        <% end %>
        <% if current_user.can_tag? %>
          <li class="right"><%= link_to 'Beheer tags', collection_work_edit_tags_path(@collection,@work), class: 'secondary small button right', data: { open_in_context: true}%></li>
        <% end %>
        <% if can? :manage, Attachment %>
          <% if @work.attachments.count == 0 and @custom_reports.count == 0 %>
          <li class="right"><%= link_to 'Bijlage toevoegen', new_collection_work_attachment_path(@collection, @work), class: 'secondary small button right', title: "Bijlage toevoegen", data: { open_in_context: true}%></li>
          <% else %>
          <li class="right"><%= link_to "Beheer bijlagen (#{@work.attachments.count+@custom_reports.count})", collection_work_attachments_path(@collection, @work), class: 'secondary small button right' %></li>
          <% end %>
        <% end %>
      </ul>
  </div>
</div>
<div class="row columns">
  <%= render :partial => 'works/work_detailed_data', locals: {work: @work} %>

</div>
