<h1>Gebruikers</h1>
<table>
  <thead>
    <tr>
      <th>Gebruiker</th>
      <% @collections.each do |collection|%>
        <th><%= collection.name%></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th>
        <strong>
          <% if can? :update, user %><%= link_to user.email, edit_collection_user_path(@collection, user) %><% else %><%= user.email%><% end %>
        </strong><br/><small><%= I18n.t(user.role, scope: [:activerecord, :values, :user, :role]) %></small></th>
        <% @collections.each do |collection|%>
          <td><%= visual_boolean(user.accessible_collections.include?(collection)) %></td>
        <% end %>
      </tr>
    <% end %>

  </tbody>
</table>

<% if can? :update, User%>
  <h2>Gebruikers in de wachtrij</h2>

  <% if @inactive_users.any? %>
  <p>Onderstaande gebruikers hebben zich aangemeld voor de QKunst collectiebeheer applicatie, maar zijn nog niet actief omdat ze nog geen toegang hebben tot enige collectie. U kunt ze toegang geven tot (één van) uw collecties en een bijpassende rol selecteren.</p>
  <ul>
    <% @inactive_users.each do |user| %>
      <li><% if can? :update, user %><%= link_to user.email, edit_collection_user_path(@collection, user) %><% end %></li>
    <% end %>
  </ul>
  <% end %>

  <p>Om gebruikers toegang te geven tot uw collectie, nodig ze uit om te registreren voor de QKunst collectiebeheer applicatie via de volgende url:</p>
  <pre><%= new_user_registration_url %></pre>
<% end %>