<%= simple_form_for([@artist,@artist_involvement]) do |f| %>
  <fieldset class="row">
    <div class="field medium-4 columns">
      <%= f.input :start_year %><br>
    </div>
    <div class="field medium-4 columns">
      <%= f.input :end_year %><br>
    </div>
    <div class="field medium-4 columns">
      <%= f.label :place_geoname_id, "Plaatsnamen database koppeling voor lokaliteit" %>

      <%= f.select :place_geoname_id, { @artist_involvement.place_geoname_name => @artist_involvement.place_geoname_id}, {include_blank: true }, {class: 'select2 ajax'} %>
    </div>
    <div class="field medium-4 columns">
      <%= f.hidden_field :involvement_type %>
    </div>
  </fieldset>
  <fieldset class="row columns">
    <%= f.association :involvement, input_html: {class: 'chosen-select'}  %>
  </fieldset>

  <div class="">
    <hr/>
    <%= f.submit class: :button %>
  </div>
<% end %>
