<div class="row">
  <div class="large-12 columns">
    <h2>Gebruikers</h2>
    <p>Klik op een e-mailadres van een gebruiker om de toegangsrechten aan te passen.</p>

  </div>
  <div class="large-6 columns">
    <% if can? :edit_admin, User%>
      <h3>Administratoren</h3>
      <p>Admin gebruikers hebben overal toegang toe.</p>
      <table class="users">
        <thead>
          <tr>
            <th>E-mail</th>
          </tr>
        </thead>
        <tbody>
          <%@admin_users.each do | user | %>
            <tr>
              <td><%=link_to user.email, edit_user_path(user)%></td>

          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
  <div class="large-<%= can?(:edit_admin, User) ? 6 : 12 %> columns">
    <h3>Niet geactiveerde gebruikers</h3>
    <p>Deze gebruikers kunnen nog niets zien binnen de app en hebben dus ook nog geen toegang tot enige collectie of instelling. Indien ze bekend zijn bij een Administrator kan hij of zij deze activeren door hem of haar te koppelen aan een collectie en rol.</p>

    <table class="users">
      <thead>
        <tr>
          <th>E-mail</th>
          <th>Geregistreerd op</th>
        </tr>
      </thead>
      <tbody>
        <% (@unregistered_users).each do | user | %>
          <tr>
            <td><%=link_to user.email, edit_user_path(user)%></td>
            <td><%= I18n.l user.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">

  <div class="large-6 columns">
    <h3>Intern</h3>

    <h4>Kunstadviseurs</h4>
    <p>Kunstadviseurs zijn bijna gelijk aan administratoren, alleen kunnen zij geen collectie overstijgende zaken wijzigen (wél gebruikersbeheer voor de collectie, geen algemene thema's aanpassen).</p>
    <table class="users">
      <thead>
        <tr>
          <th>E-mail</th>
          <th>Collectie-toegang</th>
        </tr>
      </thead>
      <tbody>
        <%@advisors.each do | user | %>
          <tr>
            <td><%=link_to user.email, edit_user_path(user)%></td>
            <td>
              <ul>
                <%user.collections.each do |collection| %>
                  <li><%= link_to collection.name, collection%></li>
                <% end %>
              </ul>
            </td>
        <% end %>
      </tbody>
    </table>
    <h4>Taxateurs</h4>
    <p>Taxateurs kunnen naast registreren ook taxaties toevoegen en inzien, maar hebben alleen toegang tot geselecteerde collecties en kunnen geen instellingen wijzigen. </p>

    <table class="users">
      <thead>
        <tr>
          <th>E-mail</th>
          <th>Collectie-toegang</th>
        </tr>
      </thead>
      <tbody>
        <%@appraisal_users.each do | user | %>
          <tr>
            <td><%=link_to user.email, edit_user_path(user)%></td>
            <td>
              <ul>
                <%user.collections.each do |collection| %>
                  <li><%= link_to collection.name, collection%></li>
                <% end %>
              </ul>
            </td>
        <% end %>
      </tbody>
    </table>
    <h4>Registratoren</h4>
    <p>QKunst gebruikers hebben alleen toegang tot geselecteerde collecties en kunnen geen instellingen wijzigen. </p>

    <table class="users">
      <thead>
        <tr>
          <th>E-mail</th>
          <th>Collectie-toegang</th>
        </tr>
      </thead>
      <tbody>
        <%@registrator_users.each do | user | %>
          <tr>
            <td><%=link_to user.email, edit_user_path(user)%></td>
            <td>
              <ul>
                <%user.collections.each do |collection| %>
                  <li><%= link_to collection.name, collection%></li>
                <% end %>
              </ul>
            </td>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="large-6 columns">

    <h3>Extern</h3>
    <p>Externe gebruikers (geen administratoren of QKunst medewerkers) kunnen bij de geselecteerde collecties. In de read only-rol kunnen ze niets
      downloaden of wijzigen en geen waarde-bepalingen inzien. FM gebruikers kunnen de locatie van een werk aanpassen, gegevens downloaden en
      waarde-bepalingen inzien.</p>

    <table class="users">
      <thead>
        <tr>
          <th>E-mail</th>
          <th>Rol</th>
          <th>Collectie-toegang</th>
        </tr>
      </thead>
      <tbody>
        <%@external_users.each do | user | %>
          <tr>
            <td><%=link_to user.email, edit_user_path(user)%></td>
            <td><%= I18n.t(user.role, scope:[:activerecord, :values, :user, :role]) %>
            <td>
              <ul>
                <%user.collections.each do |collection| %>
                  <li><%= link_to collection.name, collection%></li>
                <% end %>
              </ul>
            </td>
        <% end %>
      </tbody>
    </table>
  </div>


</div>