<%= simple_form_for([@attachment.collection, @subject, @attachment].compact) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :file, required: @attachment.id ? false : true, hint: @attachment.file? ? "Bijlage #{@attachment.name} wordt niet vervangen of verwijderd wanneer er geen nieuw bestand wordt geupload" : "" %>
    <%= f.hidden_field :file_cache %>

    <%= f.input :name %>

    <%= f.input :visibility, collection: (User::ROLES - [:admin, :advisor, :read_only]).collect{|a| [I18n.t( a, scope:[:activerecord, :values, :user, :role]), a]}, checked: @attachment.visibility, multiple: true, as: :check_boxes if !@attachment.persisted? || can?(:edit_visibility, @attachment) %>
    <p><small>Met betrekking tot zichtbaarheid: administratoren en adviseurs kunnen altijd álle bijlagen zien.</small></p>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: :button %>
  </div>
<% end %>
