<div id="main">
<h2>Bijlagen</h2>
<p>Bij <%= (@work || @collection).name %></p>

<table>
  <thead>
    <tr>
      <th>Naam</th>
      <th>Zichtbaar voor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attachments.each do |attachment| %>
      <tr>
        <td><%= link_to attachment.file_name, attachment.file.url %></td>
        <td><%= attachment.visibility.to_sentence %></td>
        <td><%= link_to 'Bewerk', edit_attachment_path(attachment) if can? :edit, attachment %></td>
        <td><%= link_to 'Verwijder', [attachment.attache, attachment], method: :delete, data: { confirm: "Weet je zeker dat je '#{attachment.file_name}' wilt  verwijderen?" } if can? :destroy, attachment %></td>
      </tr>
    <% end %>
  </tbody>
  <% if @work %>
  <%= link_to 'Bijlage toevoegen', new_collection_work_attachment_path(@collection, @work), class: 'primary button', data: { open_in_context: true} if can? :create, @work.attachments.new%>
  <% else %>
  <%= link_to 'Bijlage toevoegen', new_collection_attachment_path(@collection), class: 'primary button', data: { open_in_context: true} if can? :create, @collection.attachments.new %>
  <% end %>
</table>


<% if @work %>
<% @custom_reports = @work.custom_reports.to_a %>
<% if @custom_reports.count > 0 and qkunst_user? %>
<hr />
  <h3>Rapportages</h3>
  <p>Rapportages worden automatisch aan een werk gekoppeld zodra hiernaar wordt verwezen in de rapportage.</p>
    <%= render partial: 'custom_reports/index' %>
<% end %>

<% end %>