<div id="main">
<h2>Bijlagen</h2>
<p>Bij <%= (@subject || @collection).name %>. <% if @collection.name.to_s.match("Provincie Gelderland") && !@subject %>Voorgedefinieerde export-functies kunnen hier niet beheerd worden.<% end%></p>
<p>
<% if @work %>
  <%= link_to 'Bijlage toevoegen', new_collection_work_attachment_path(@collection, @subject), class: 'primary button', data: { open_in_context: true} if can? :create, @subject.attachments.new(collection: @collection) %>
<% elsif @artist %>
  <%= link_to 'Bijlage toevoegen', new_collection_artist_attachment_path(@collection, @subject), class: 'primary button', data: { open_in_context: true} if can? :create, @subject.attachments.new(collection: @collection) %>
<% else %>
  <%= link_to 'Bijlage toevoegen', new_collection_attachment_path(@collection), class: 'primary button', data: { open_in_context: true} if can? :create, @collection.attachments.new %>
<% end %>
</p>
<label>Filter <input type="text" id="generic-table-filter" data-filters="attachments-table"></label>

<table class="sortable" id="attachments-table">
  <thead>
    <tr>
      <th data-filtered-by="generic-table-filter">Naam</th>
      <% unless @work || @artist %>
      <th data-filtered-by="generic-table-filter">Werken</th>
      <th data-filtered-by="generic-table-filter">Vervaardigers</th>
      <% end %>
      <th data-filtered-by="generic-table-filter">Zichtbaar voor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attachments.each do |attachment| %>
      <tr>
        <td><%= link_to attachment.file_name, attachment.file.url %></td>
        <% unless @work || @artist %>
        <td><ul><% attachment.works.each do |work| %><li><%= link_to work.stock_number, collection_work_path(work.collection, work)%></li><% end %></ul></td>
        <td><ul><% attachment.artists.each do |artist| %><li><%= link_to artist.name, collection_artist_path(@collection, artist)%></li><% end %></ul></td>
        <% end %>
        <td><%= attachment.visibility.map{|v| I18n.t(v, scope: [:activerecord, :values, :user, :role]) }.to_sentence %></td>
        <td><%= link_to 'Bewerk', edit_attachment_path(attachment) if can? :edit, attachment %></td>
        <td><%= link_to 'Verwijder', [attachment.collection, @subject, attachment].compact, method: :delete, data: { confirm: @subject ? "Weet je zeker dat je de bijlage hier wilt weghalen (de bijlage blijft bij de collectie)?" :"Weet je zeker dat je '#{attachment.file_name}' definitief overal wilt verwijderen?" } if can? :destroy, attachment %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<% if @work %>
  <% @custom_reports = @work.custom_reports.to_a %>
  <% if @custom_reports.count > 0 and qkunst_user? %>
  <hr />
    <h3>Rapportages</h3>
    <p>Rapportages worden automatisch aan een werk gekoppeld zodra hiernaar wordt verwezen in de rapportage.</p>
      <%= render partial: 'custom_reports/index' %>
  <% end %>
<% end %>