<div id="main">
<h1>Bijlagen</h1>

<table>
  <thead>
    <tr>
      <th>Naam</th>
      <th>Zichtbaar voor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attachments.each do |attachment| %>
      <tr>
        <td><%= link_to attachment.file_name, attachment.file.url %></td>
        <td><%= attachment.visibility.to_sentence %></td>
        <td><%= link_to 'Bewerk', edit_attachment_path(attachment) %></td>
        <td><%= link_to 'Verwijder', [attachment.attache, attachment], method: :delete, data: { confirm: "Weet je zeker dat je '#{attachment.file_name}' wilt  verwijderen?" } %></td>
      </tr>
    <% end %>
  </tbody>
  <%= link_to 'Bijlage toevoegen', new_collection_attachment_path(@collection), class: 'primary button', data: { open_in_context: true}%>
</table>
