<%= simple_form_for([@collection, @contact]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :url %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: [:primary, :button] %>
  </div>
<% end %>
