<p id="notice"><%= notice %></p>

<h2><%=@placeability.name%></h2>

<p>
  <strong>Order:</strong>
  <%= @placeability.order %>
</p>

<p>
  <strong>Hide:</strong>
  <%= @placeability.hide %>
</p>

<%= link_to 'Bewerken', edit_placeability_path(@placeability) %> |
<%= link_to 'Terug naar overzicht', placeabilities_path %>
