<div id="main">
  <h2>Bibliotheek</h2>

<table>
  <thead>
    <tr>
      <th><%= LibraryItem.human_attribute_name(:item_type) %></th>
      <th><%= LibraryItem.human_attribute_name(:title) %></th>
      <th><%= LibraryItem.human_attribute_name(:author) %></th>
      <th><%= LibraryItem.human_attribute_name(:ean) %></th>
      <th><%= LibraryItem.human_attribute_name(:stock_number) %></th>
      <th><%= LibraryItem.human_attribute_name(:location) %></th>
    </tr>
  </thead>

  <tbody>
    <% @library_items.each do |library_item| %>
      <tr>
        <td><%= library_item.item_type %></td>
        <td><%= link_to (library_item.title || "-"), collection_library_item_url(@collection, library_item) %></td>
        <td><%= link_to library_item.author || "-", collection_library_item_url(@collection, library_item) %></td>
        <td><%= link_to library_item.ean || "-", collection_library_item_url(@collection, library_item) %></td>
        <td><%= link_to library_item.stock_number || "-", collection_library_item_url(@collection, library_item) %></td>
        <td><%= library_item.location %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @work %>
<%= link_to 'Voeg item toe', new_collection_work_library_item_path(@collection, @work) %>
<% elsif @artist %>
<%= link_to 'Voeg item toe', new_collection_artist_library_item_path(@collection, @subject) %>
<% else%>
<%= link_to 'Voeg item toe', new_collection_library_item_path(@collection) %>
<% end %>
</div>