<h1>Groepeer werken</h1>

<div class="tabs">
  <nav class="tab-head" class="Rapportage navigatie">
    <ul>
        <li><a href="#create_workset">Nieuwe groepering</a></li>
        <% if @work_set.works.any? %>
            <li><a href="#add_workset">Werken toevoegen</a></li>
        <% end %>
        <% if @work_set.dynamic? %>
            <li><a href="#update_workset">(Dynamische) groepering bijwerken</a></li>
        <% end %>
    </ul>
  </nav>
  <section id="create_workset">
      <h2>Nieuwe groepering maken</h2>
        <%= render partial: "form" %>
  </section>
  <% if @work_set.works.any? %>
  <section id="add_workset">
      <h2>Toevoegen aan bestaande sectie</h2>
      <p>Met deze functie worden werken toegevoegd aan de bestaande, niet dynamische, werkgroepering.</p>

      <% @collection ||= @works.first.collection.base_collection %>
      <%= form_tag(collection_work_sets_url(@collection)) do %>
        <%= select("work_set", "id", WorkSet.for_collection(@collection).order(identification_number: :asc).not_deactivated.not_dynamic.all.collect { |p| [ p.name, p.id ] }, {}, {class: "chosen-select"} ) %>
        <%= hidden_field_tag "work_set[work_ids]", @works&.pluck(:id)&.join(" ") %>

        <%= button_tag "Toevoegen", class: [:button, :primary] %>
      <% end %>
  </section>
  <% end %>
  <% if @work_set.dynamic? %>

  <section id="update_workset">
      <h2>Bijwerken dynamische groepering</h2>
      <p>Gebruik deze functie om een filter van een dynamische groepering bij te werken of alle werken in één keer te overschrijven.</p>
      <% @collection ||= @works.first.collection.base_collection %>
      <%= form_tag(collection_work_sets_url(@collection)) do %>
        <%= select("work_set", "id", WorkSet.for_collection(@collection).order(identification_number: :asc).not_deactivated.all.collect { |p| [ p.name, p.id ] }, {}, {class: "chosen-select"} ) %>
        <%= hidden_field_tag "work_set[dynamic]", 0 %>
        <label><%= checkbox_tag "work_set[dynamic]", as: :boolean, hint: t(".dynamic"), value: "1", checked: @work_set.dynamic? %>Dynamisch</label>
        <%= all_filter_data_to_hidden_inputs if params[:filter] %>

        <%= hidden_field_tag "work_set[work_ids]", @works&.pluck(:id)&.join(" ") %>

        <%= button_tag "Bijwerken", class: [:button, :primary] %>
      <% end %>
  </section>
  <% end %>
</div>


<% if @work_set.works.any? %>
<hr>

<h3 id="works">Werken</h3>
<p>De volgende werken zullen hiermee worden gegroepeerd. </p>
<ul class="works-list compact">
<%= render partial: "works/work", collection: @works.limit(24), locals: {container: :li} %>
</ul>
<% if @works.count > 24 %>
<p>Dit zijn niet alle werken, het zijn in totaal <%= t("count.works", count: @works.count) %>. <%= link_to "Open een overzicht met alle #{I18n.t("count.works", count: @works.count) }", collection_works_path(@collection, params: {ids: @works.pluck(:id).join(",") }), target: "_blank" if @collection %></p>
<% end %>

<% else %>
<div class="callout warning">Let op: Er zijn geen werken geselecteerd, noch is er een filter actief.</div>
<% end %>
