<h1><%= @title  %></h1>
<%= kramdown @work_set.comment %>

<nav class="sub-nav bottom-nav hide-for-print" aria-label="Groeperingsacties">
  <ul class="menu right-aligned menu--only-buttons">
    <% if (can? :edit, @work_set) %>
      <li><%= button_to 'Verwijder groep', [@collection,@work_set].compact, method: :delete, class: 'warning small button right', data: {confirm: "Weet u zeker dat u deze Werkgroepering wilt opheffen?"} %></li>
    <% end %>
    <% if (can? :edit, @work_set) %>
      <li><%= link_to 'Bewerk', (@collection ? edit_collection_work_set_path(@collection,@work_set) : edit_work_set_path(@work_set)), class: 'secondary small button right' %></li>
    <% end %>
    <% if (can? :create, TimeSpan) && @collection && @collection.base_collection.show_availability_status && @work_set.time_spans.none? %>
      <li><%= link_to "Start gebeurtenis", new_collection_work_set_time_span_path(@collection, @work_set), class: 'secondary small button right'%></li>
    <% elsif (can? :create, TimeSpan) && @collection && @collection.base_collection.show_availability_status %>
      <li><%= link_to "Gebeurtenissen", collection_work_set_time_spans_path(@collection, @work_set), class: 'secondary small button right'%></li>
    <% end %>
    <% if can?(:create, Appraisal.new(appraisee: @work_set)) && @work_set.appraisable? %>
      <li><%= link_to 'Waardeer', new_collection_work_set_appraisal_path(@collection,@work_set), class: 'secondary small button right', data: { open_in_context: true}%></li>
    <% end %>
    <li><%= link_to "Toon in werken", collection_works_path(@collection, params: {filter: {"work_sets.id": [@work_set.id]}}), class: "secondary small right"%></li>
    <% if @work_set&.current_active_time_span %>
      <li><%= link_to [@work_set.current_active_time_span.humanize_classification, @work_set.current_active_time_span.contact&.name].compact.join(" "), [@collection, @work_set, @work_set.current_active_time_span]%></li>
    <% end %>
</ul>
</nav>
<%= render @works %>
