<h1><%= @title  %></h1>
<%= kramdown @work_set.comment %>

<nav class="sub-nav bottom-nav hide-for-print" aria-label="Groeperingsacties">
  <ul class="menu right-aligned menu--only-buttons">
    <% if (can? :edit, @work_set) %>
      <li><%= button_to 'Verwijder groep', [@collection,@work_set].compact, method: :delete, class: 'warning small button right', data: {confirm: "Weet u zeker dat u deze Werkgroepering wilt opheffen?"} %></li>
    <% end %>
    <% if (can? :edit, @work_set) %>
      <li><%= link_to 'Bewerk', (@collection ? edit_collection_work_set_path(@collection,@work_set) : edit_work_set_path(@work_set)), class: 'secondary small button right' %></li>
    <% end %>
    <% if (can? :create, TimeSpan) && @collection && @collection.base_collection.show_availability_status && @work_set.time_spans.none? %>
      <li><%= link_to "Start gebeurtenis", new_collection_work_set_time_span_path(@collection, @work_set), class: 'secondary small button right'%></li>
    <% elsif (can? :create, TimeSpan) && @collection && @collection.base_collection.show_availability_status %>
      <li><%= link_to "Gebeurtenissen", collection_work_set_time_spans_path(@collection, @work_set), class: 'secondary small button right'%></li>
    <% end %>
    <% if can?(:create, Appraisal.new(appraisee: @work_set)) && @work_set.appraisable? %>
      <li><%= link_to 'Waardeer', new_collection_work_set_appraisal_path(@collection,@work_set), class: 'secondary small button right', data: { open_in_context: true}%></li>
    <% end %>
    <li><%= link_to "Toon in werken", collection_works_path(@collection, params: {filter: {"work_sets.id": [@work_set.id]}}), class: "tertiary small button right"%></li>
    <li><%= link_to "Toon in rapportage", collection_report_path(@collection, params: {filter: {"work_sets.id": [@work_set.id]}}), class: "tertiary small button right"%></li>
    <% if @current_active_time_span%>
    <li><%= link_to "Factureer werkset", uitleen_new_draft_invoice_url(invoiceable_item_collection: @work_set), class: "tertiary small button right", data: { confirm: "U wordt doorgestuurd naar de uitleen applicatie. Werken met een actieve gebeurtenis voor de organisatie worden automatisch toegevoegd aan de factuur."}%></li>
    <% else %>
    <li><%= link_to "Factureer werkset", new_collection_work_set_time_span_path(@collection, @work_set), class: "disabled tertiary small button right", title: "U dient eerst een gebeurtenis te starten voor deze werkset.", data: { confirm: "U dient eerst een gebeurtenis te starten voor deze werkset. Wilt u een gebeurtenis aanmaken?"}%></li>
    <% end %>
</ul>
</nav>
 <% if @current_active_time_span %>
<div class="callout secondary">
  <p>
    Er is een gebeurtenis actief: <%= link_to [@work_set.current_active_time_span.humanize_classification, @work_set.current_active_time_span.contact&.name].compact.join(" "), [@collection, @work_set, @work_set.current_active_time_span] %>. Werken toegevoegd aan deze groep worden automatisch gekoppeld aan deze gebeurtenis.
  </p>
  <p>De active gebeurtenis is gekoppeld aan de <%= @current_active_time_span.collection.name %>-collectie<% if @works_outside_current_collection.count > 0 %>, er zijn <%=link_to I18n.t("count.works", count: @works_outside_current_collection.count), collection_works_path(collection_id: @collection.self_and_parent_collections_flattened.first, ids: @works_outside_current_collection.join(",")) %> niet beschikbaar binnen deze collectie<% end %>.
</div>
<% end %>
<%= render @works %>
