<%= simple_form_for(@involvement) do |f| %>
  <%= f.input :name %>
  <%= f.input :place %>
  <label>Plaatsnamen database koppeling</label>
  <%= f.select :place_geoname_id, { @involvement.place_geoname_name => @involvement.place_geoname_id}, {include_blank: true }, class: 'select2 geoname-select' %>
  <hr/>
  <%= f.submit class: :button %>

<% end %>
