

<h1>Listing Involvements</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Country</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @involvements.each do |involvement| %>
      <tr>
        <td><%= involvement.name %></td>
        <td><%= involvement.city %></td>
        <td><%= involvement.country %></td>
        <td><%= involvement.type %></td>
        <td><%= link_to 'Show', involvement %></td>
        <td><%= link_to 'Bewerken', edit_involvement_path(involvement) %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Involvement', new_involvement_path %>
