
<% collection ||= nil %>
<% Stage.starts.each do |start| %>
  <% non_cyclic_graph_from_start = start.non_cyclic_graph_from_here(collection) %>
<div class="stages_graph">
  <table class="non_cyclic_graph">
  <% branch_count = non_cyclic_graph_from_start.count %>
  <caption class="sr-only">
      Projectfase
    </caption>
  <thead>
    <tr>
      <% non_cyclic_graph_from_start[0].count.times do |a| %>
        <th>Fase <%= a+1%></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% non_cyclic_graph_from_start.each do |branch| %>
      <tr>
        <% branch.each_with_index do |leaf, index| %>
          <% if leaf %>
            <td class="<%= leaf.enabled? ? 'enabled' : 'disabled' %><%= leaf.completed? ? ' completed' : '' %><%= leaf.active? ? ' active' : '' %>" rowspan="<%=branch_count - non_cyclic_graph_from_start.collect{|a| a[index]}.compact.count + 1%>" title="<%= leaf.completed? ? "Voltooid op #{I18n.l leaf.completed_at.to_date, format: :long}" : "" %>">
              <% if collection and collection.id %>
                <% if leaf.enabled and !leaf.completed? and can?(:update_status, collection) %>
                  <%= button_to(leaf.name, collection_collections_stage_path(collection, leaf.collection_stage), params: {collections_stage: {completed: true}}, method: :patch, data: {confirm: "Weet u zeker dat u dit stadium als voltooid wilt beschouwen?"})%>
                <% else %>
                  <%= leaf.name%>
                <% end %>
              <% else%>
                <%= link_to(leaf.name, leaf) %>
              <% end %>
            </td>
          <% end %>
        <% end%>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
<% end %>