<% if admin_user? and @artist %>
<p><%= link_to '← Terug naar de vervaardigerspagina', artist_path(@artist)%></p>
<% end %>
<h1>RKDartist: <%= link_to @rkd_artist.end_user_link do %><%= @rkd_artist.rkd_id%>: <%= @rkd_artist.name %><% end %></h1>
<p><%= @rkd_artist.substring%></p>

    <% if admin_user? and @artist %>
    <div class="callout">
      <% if @artist.rkd_artist == @rkd_artist %>

      <p>Klik op neem informatie over om de relevante informatie over te nemen in de QKunst Vervaardigersdatabase</p>
      <% else %>
      <p>Klik op koppel om deze informatie uit het RKD te koppelen aan deze vervaardiger in de QKunst Vervaardigersdatabase:</p>
      <% end %>

      <%= render @artist%>
      <p><br/>&nbsp;</p>
      <nav class="actions">
        <ul class="menu">
          <% if @artist.rkd_artist == @rkd_artist %>
            <li class="right"><%= link_to 'Toon artist op RKD ➔',  @rkd_artist.end_user_link, class: [:small, :secondary, :button], target: "_blank" %></li>

            <li><%= button_to 'Neem informatie over uit het RKD', rkd_artist_copy_path(@rkd_artist), params: {artist_id: @artist.id}, class: [:small, :secondary, :button], method: :patch, data: {confirm: "Weet je zeker dat je de gegevens in de QKunst database wilt vervangen door de RKD gegevens?"}%></li>
            <li><%= button_to 'Ontkoppel', artist_path(@artist), params: {"artist[rkd_artist_id]" => -1}, method: :patch, class: 'small secondary button warning' %></li>
          <% else %>
            <li><%= button_to 'Koppel met deze vervaardiger', artist_path(@artist), params: {"artist[rkd_artist_id]" => @rkd_artist.rkd_id}, method: :patch, class: 'small secondary button' %></li>

          <% end %>
        </ul>
      </nav>
    </div>
    <% end %>

<div class="row">
  <div class="medium-12 columns">
    <h3>Voorstel import</h3>
    <%= render @new_artist %>
  </div>
  <% if current_user.email == 'home@murb.nl' %>
  <div class="medium-12 columns">
    <h3>[DEBUG] Alle informatie uit RKD:</h3>
    <%= render_hash @rkd_artist.api_response%>
    <p><small>Deze informatie is <%= link_to 'afkomstig', @rkd_artist.end_user_link %> uit de RKDartists&amp;-database, en vrijgegeven onder een <a href="http://opendatacommons.org/licenses/odbl/">Open Data Commons Open Database License</a>.</small></p>

  </div>
  <% end %>

</div>