<% if admin_user? and @artist %>
<p><%= link_to '← Terug naar de vervaardigerspagina', [@collection,@artist].compact%></p>
<% else %>
<p><%= link_to '← Terug ', 'javascript:history.back(1)'%></p>

<% end %>
<h2>RKDartist <%= @rkd_artist.rkd_id%>: <%= @rkd_artist.name %></h2>
<p><%= @rkd_artist.substring%></p>
  <% if can?(:copy, RkdArtist) and @artist %>
    <nav class="actions">
      <ul class="menu">
        <% if @artist.rkd_artist == @rkd_artist %>
          <li class="right"><%= link_to 'Toon artist op RKD ➔',  @rkd_artist.end_user_link, class: [:small, :secondary, :button], target: "_blank" %></li>
          <li><%= button_to 'Neem informatie over uit het RKD', @collection ? collection_rkd_artist_copy_path(@collection, @rkd_artist) : rkd_artist_copy_path(@rkd_artist), params: {artist_id: @artist.id}, class: [:small, :button], method: :patch, data: {confirm: "Weet je zeker dat je de gegevens in #{I18n.t("application.name")} wilt vervangen door de RKD gegevens?"}%></li>
          <li><%= button_to 'Ontkoppel', [@collection,@artist].compact, params: {"artist[rkd_artist_id]" => -1}, method: :patch, class: 'small secondary button warning' %></li>
        <% else %>
          <li><%= button_to 'Koppel met deze vervaardiger', [@collection,@artist].compact, params: {"artist[rkd_artist_id]" => @rkd_artist.rkd_id}, method: :patch, class: 'small secondary button' %></li>

        <% end %>
      </ul>
    </nav>
    <div class="callout" style="margin-top: 1em;">
      <% if @artist.rkd_artist == @rkd_artist %>

      <p>Klik op “Neem informatie over uit het RKD” om de relevante informatie over te nemen in de <%=I18n.t("application.name")%> Vervaardigersdatabase</p>
      <% else %>
      <p>Klik op “Koppel met deze vervaardiger” om deze informatie uit het RKD te koppelen aan deze vervaardiger in de <%=I18n.t("application.name")%> Vervaardigersdatabase:</p>
      <% end %>


    </div>
  <% else %>
  <nav class="actions" aria-label="Vervaardigersacties">
    <ul class="menu">
      <li class="right"><%= link_to('Toon artist op RKD ➔',  @rkd_artist.end_user_link, class: [:small, :secondary, :button], target: "_blank") if @artist.rkd_artist == @rkd_artist %></li>
    </ul>
  </nav>
  <% end %>

<div class="row">
  <div class="medium-6 columns">
    <h3>Huidige informatie in <%=I18n.t("application.name")%> Vervaardigersdatabase</h3>
      <%= render @artist if @artist%>

  </div>
  <div class="medium-6 columns">
    <h3>Preview import</h3>
    <%= render @new_artist %>
  </div>
</div>