<%
  value = checkbox
  label = checkbox
  field_name = defined?(field) ? field : checkbox.class.to_s
  auto_submit = defined?(auto_submit) ? auto_submit : false
  if checkbox.is_a? ActiveRecord::Base
    value = checkbox.id
    label = checkbox.name
  end
  if checkbox.is_a? Hash
    value = checkbox.keys[0]
    label = checkbox.values[0]
  end
  checked = @selection_filter[field_name] && (@selection_filter[field_name].include?(value) || @selection_filter[field_name].include?(value.to_s) || (value == Work::Search::NOT_SET_VALUE and @selection_filter[field_name].include?(nil)))
%>
<label>
  <input type="checkbox" name="filter[<%=field_name%>][]" value="<%=value%>"<%= " checked" if checked %><%= " data-auto-submit=\"true\"".html_safe if auto_submit  %>>
  <%= label%>
</label>
