<h2>Maak een nieuwe rapportage</h2>

<%= simple_form_for([@collection, @custom_report]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :custom_report_template %>
    <div style="<%= "display:none" if @custom_report.works.to_a.count > 0 %>">
      <%= f.association :works, collection: @collection.works_including_child_works %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: :button %>
  </div>
<% end %>

<%= link_to 'Terug', collection_custom_reports_path(@collection) %>
