<div class="row">
  <div class="medium-9 columns">
    <%= render partial: 'custom_report_rendered'%>
  </div>
  <aside class="medium-3 columns">
    <%= link_to 'Verstuur link', "mailto:?subject=#{@custom_report.title}&body=#{url_encode("Geachte heer, mevrouw,\n\nEr staat een rapport voor u klaar. Open het rapport door te klikken op de volgende link:\n#{collection_custom_report_url(@collection, @custom_report)}")}", class: :button %>
    <%= link_to 'Download PDF', collection_custom_report_path(@collection, @custom_report), class: [:secondary, :button] %>
    <%= link_to 'Bewerk', edit_collection_custom_report_path(@collection, @custom_report), class: [:secondary, :button] %>
    <% if @custom_report.variables.count > 0 %>
      <h5>Variabelen</h5>
      <dl>
      <% @custom_report.variables.each do |k,v| %>
        <dt><%=sanitize k%></dt><dd><%=sanitize v%></dd>
      <% end %>
      </dl>
    <% end %>
    <p>Template: <%= link_to @custom_report.custom_report_template.title, edit_custom_report_template_path(@custom_report.custom_report_template) %></p>
  </aside>
</div>