<%= simple_form_for([@collection, @subject, @time_span].compact) do |f| %>
  <%= f.error_notification %>
  <%= f.object.errors.messages if f.object.errors.messages.any? %>
  <div class="form-inputs">
    <%= f.input :classification, collection: TimeSpan::CLASSIFICATIONS.map{|a| [I18n.t(a, scope: "activerecord.values.time_span.classification" ), a]}, as: :radio_buttons %>
    <%= f.input :collection_id, collection: Collection.where(id: @time_span.works.pluck(:collection_id) + [@time_span.collection_id]), input_html: {class:"chosen-select"} %>
    <%= f.input :contact, collection: @contacts, selected: @time_span.contact&.to_select_value&.id, include_blank: true, input_html: {class:"chosen-select"}  %>
    <%= f.input :starts_at, html5: true %>
    <%= f.input :ends_at, html5: true %>
    <%= f.input :status, collection: TimeSpan::STATUSSES.map{|a| [I18n.t(a, scope: "activerecord.values.time_span.status" ), a]}, include_blank: false, as: :radio_buttons  %>
    <%= f.input :comments %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: [:primary, :button] %>
  </div>
<% end %>
