<%= simple_form_for([@collection, @work, @time_span].compact) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :starts_at, html5: true %>
    <%= f.input :ends_at, html5: true %>
    <%= f.input :status, collection: TimeSpan::STATUSSES  %>
    <%= f.input :contact, collection: @collection.base_collection.contacts %>
    <%= f.input :subject_id %>
    <%= f.input :subject_type, collection: TimeSpan::SUBJECT_TYPES %>
    <%= f.input :classification, collection: TimeSpan::CLASSIFICATIONS %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: [:primary, :button] %>
  </div>
<% end %>
