
<h1>Gebeurtenissen</h1>

<table>
  <thead>
    <tr>
      <th>Begin</th>
      <th>Einde</th>
      <th>Status</th>
      <th>Contact</th>
      <th>Soort</th>
    </tr>
  </thead>

  <tbody>
    <% @time_spans.each do |time_span| %>
      <tr>
        <td><%= link_to I18n.l(time_span.starts_at, format: :long), [@collection, @subject, time_span] if time_span.starts_at%></td>
        <td><%= link_to I18n.l(time_span.ends_at, format: :long), [@collection, @subject, time_span] if time_span.ends_at %></td>
        <td><%= link_to I18n.t(time_span.status, scope: "activerecord.values.time_span.status"), [@collection, @subject, time_span] %></td>
        <td><%= (time_span.contact.url ? link_to(time_span.contact.name, time_span.contact.url) : time_span.contact.name) if time_span.contact %></td>
        <td><%= link_to I18n.t(time_span.classification, scope: [:activerecord, :values, :time_span, :classification]), [@collection, @subject, time_span] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to('Gebeurtenis toevoegen', (@work ? new_collection_work_time_span_path(@collection, @work) : new_collection_work_set_time_span_path(@collection, @subject))) if @subject %>
