          <div id="main">
            <h1><%= I18n.t @time_span.classification, scope: "activerecord.values.time_span.classification" %> werk</h1>

<dl>
  <dt>Periode:</dt>
  <dd><%= I18n.l(@time_span.starts_at) if @time_span.starts_at %> - <%= I18n.l(@time_span.ends_at) if @time_span.ends_at %> (<%= I18n.t @time_span.status, scope: "activerecord.values.time_span.status" %>)</dd>
  <dt>Contact:</dt>
  <dd><%= render @time_span.contact%></dd>
  <dt>Betreft:</dt>
  <dd><%= link_to @time_span.subject.name, @time_span.subject%></dd>
</dl>
</div>