<h2>Administratie</h2>
<h3>Beheren gebruikers</h3>
<p>Ga naar <%= link_to 'gebruikersbeheer', users_path %> om gebruikers toegang tot collecties te verlenen en de rollen die de gebruikers hebben aan te passen.</p>

<h3>Beheren van de opties</h3>
<p>Beheer hier de verschillende opties die geboden worden bij het gestructureerd invoeren van de werken:</p>
<ul>
  <li><%= link_to 'Balanscategorieën', balance_categories_path%> </li>
  <li><%= link_to 'Beschadigingen (beeld)', damage_types_path%> </li>
  <li><%= link_to 'Beschadigingen (lijst)', frame_damage_types_path%> </li>
  <li><%= link_to 'Categorie', object_categories_path%> </li>
  <li><%= link_to 'Conditie', conditions_path%> </li>
  <li><%= link_to 'Deelcollectie', subsets_path%> </li>
  <li><%= link_to 'Drager', media_path%> </li>
  <li><%= link_to 'Herkomst', sources_path%> </li>
  <li><%= link_to 'Lijsttypes', frame_types_path%> </li>
  <li><%= link_to 'Munteenheden', currencies_path%> </li>
  <li><%= link_to 'Plaatsbaarheid', placeabilities_path%> </li>
  <li><%= link_to 'Technieken', techniques_path%> </li>
  <li><%= link_to 'Thema\'s', themes_path%> </li>
  <li><%= link_to 'Werkgroeperingstypes', work_set_types_path%>
  <li><%= link_to 'Werk statussen', work_statuses_path%> </li>
</ul>

<h3>Andere instellingen</h3>
<ul>
  <li><%= link_to 'Workflow', stages_path%> </li>
  <li><%= link_to 'Herinneringen', reminders_path%> </li>
  <li><%= link_to 'Instellingen & organisaties', involvements_path %></li>
  <li><%= link_to 'Rapportagetemplates', custom_report_templates_path %></li>
</ul>