<div id="main">
<h1>Gegevens wijzigen</h1>
<% if @error_message %>
<p class="callout alert"><%= @error_message%></p>
<% end %>
<%= simple_form_for @collection.works.new, url: collection_works_batch_path, method: :patch do |f| %>
  <% @works.each do |w| %>
<input type="hidden" name="works[]" value="<%= w.id %>" />
<input type="hidden" name="batch_edit_property" value="<%=@edit_property%>" />
  <% end %>
<% multiple_values = false%>
<% update_and_add = false%>
<% update_and_delete = false%>
<% case @edit_property  %>
  <% when :location %>
    <%= f.input :location %>
    <%= f.input :location_floor %>
    <%= f.input :location_detail %>
    <% multiple_values = true %>
  <% when :cluster_id_nil %>
    <p>De werken zullen uit uit de clusters gehaald worden waarin ze nu zitten</p>
    <%= f.input :cluster_id, as: :hidden, value: nil%>
  <% when :cluster_id_new %>
    <%= f.input :cluster_name %>
  <% when :cluster, /cluster_id_\d*/ %>
    <%= f.association :cluster, collection: @collection.available_clusters, input_html: {class: 'chosen-select'}%>
  <% when :grade_within_collection%>
    <%= f.input(:grade_within_collection, collection: %w{A B C D E F G})  %>
  <% when :collection %>
    <%= f.association :collection, collection: current_user.accessible_collections.all, input_html: {class: 'chosen-select'} %>
    <p>Let op: als je de collectie aanpast kan het zijn dat de werken verwijzen naar thema's en clusters die niet meer beschikbaar zijn binnen die collectie. </p>
  <% when :placeability %>
    <%= f.association( :placeability, input_html: {class: 'chosen-select'}, collection: Placeability.not_hidden)  %>
  <% when :themes %>
    <%= f.association :themes, collection: @collection.available_themes, input_html: {class: 'chosen-select'} %>
    <% update_and_add = true %>
  <% when :subset %>
    <%= f.association @edit_property, input_html: {class: 'chosen-select'} %>
  <% when :tags %>
    <div  style="margin-bottom: 8em">
      <input type="hidden" name="work[tag_list][]" value=""/>
      <select id="works_tags" class="select2 tags" multiple="multiple" name="work[tag_list][]">
      </select>
    </div>
    <% update_and_add = true %>
    <% update_and_delete = true %>
  <% when :techniques, :sources %>
    <%= f.association @edit_property, input_html: {class: 'chosen-select'} %>
    <% update_and_add = true %>
  <% else %>

  <p> Geen eigenschap meegestuurd of herkend, de geselecteerde werken zullen niet worden aangepast.<br/>Probeer het <a href="javascript:window.history.back();">nog een keer</a>.</p>
<% end %>

<% if multiple_values %>
<p><strong>Toelichting:</strong> Je wijzigt meerdere werken in één keer. De standaard actie is om lege velden leeg te maken. Wil je echter niet dat alle velden worden aangepast, zorg er dan voor dat alleen in het te wijzigen veld een waarde staat en klik op de tweede knop: <em><%="Pas #{I18n.translate 'count.works', count:  @works.count} aan, maar niet wanneer de waarden leeg zijn"%></em>.</p>
<% end %>
<%= f.submit "Pas #{I18n.translate 'count.works', count:  @works.count} aan (vervangt)", class: :button%>
<%= f.submit "Pas #{I18n.translate 'count.works', count:  @works.count} aan, maar niet wanneer de waarden leeg zijn", name: :update_unless_empty, class: [:button, :secondary] if multiple_values%>
<%= f.submit "Voeg waarde(n) toe aan #{I18n.translate 'count.works', count:  @works.count}", name: :update_and_add, class: [:button, :secondary] if update_and_add%>
<%= f.submit "Verwijder waarde(n) bij #{I18n.translate 'count.works', count:  @works.count}", name: :update_and_delete, class: [:button, :alert], data: {confirm: "Weet je het zeker dat je deze waarde(n) wilt verwijderen bij de geselecteerde werken?"} if update_and_delete%>
<% end %>

</div>
<hr/>
<h3 id="works">Werken</h3>
<p>De volgende werken zullen hiermee worden aangepast</p>
<%= render @works.all %>