<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= "#{I18n.t("application.name")} - #{@title}" %></title>

    <%= stylesheet_link_tag    "application", media: 'all' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "zxing", "data-turbo-track": "reload", defer: true if ["scan", "batch"].include?(controller_name) %>

    <%= csrf_meta_tags %>
  </head>

  <body class="<% if offline? %>offline-page <% end %><%= @work_display_form&.display %>">
    <div class="skiplink">
          <a href="#content">Naar hoofdinhoud</a>
    </div>
    <nav class="top-bar" role="navigation" aria-label="Hoofdmenu">
      <div data-responsive-toggle="responsive-menu" class="hide-for-medium hide-for-print responsive-toggle">
        <button class="menu-icon dark" type="button" data-qtoggle="responsive-menu" data-qtoggle-class="show"></button>
      </div>
      <div class="top-bar-title">
          <%= link_to root_path do %>
            <%= File.read(Rails.root.join("app", "assets","images", "logo.svg")).html_safe %>
          <% end%>
      </div>
      <div id="responsive-menu" class="hide-for-print hide-for-small-only">

        <div class="top-bar-left">
          <ul class="vertical-only-small menu">
            <li><%= menu_link_to 'Collecties', collections_path if current_user %></li>
            <% if @collection && @collection.id%>
            <li class="submenu-container  hide-for-medium"><%= menu_link_to @collection.name, collection_path(@collection)%>
              <ul class="menu vertical-only-small">
                <li><%= menu_link_to "Overzicht", collection_path(@collection), only_exact_path_match: true %></li>
                <li><%= menu_link_to "Werken", collection_works_path(@collection)%></li>
                <li><%= menu_link_to "Rapportage", collection_report_path(@collection) if can? :read_report, @collection %></li>
                <li><%= menu_link_to "Vervaardigers", collection_artists_path(@collection) if can? :read, Artist %></li>
                <li><%= menu_link_to "Clusters", collection_clusters_path(@collection) if can? :review_collection, Cluster %></li>
                <li><%= menu_link_to "Beheer", collection_manage_path(@collection) if can? :review, Collection %></li>
              </ul>
            </li>
            <% end %>
            <% if can? :read, Message %>
              <li><%= menu_link_to 'Berichten', messages_path%></li>
            <% end %>
            <% unless offline? %>
              <li><%= menu_link_to 'Vervaardigers', artists_path if can?(:manage, Artist) %></li>
              <li><%= menu_link_to 'Beheren', admin_path if can?(:manage, :all) %></li>
              <li><%= menu_link_to 'Gebruikers', users_path if can?(:manage, User) %></li>
              <li><%= link_to "➥ Uitleen",  Rails.application.credentials.uitleen_site if Rails.application.credentials.uitleen_site %></li>
            <% end %>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="vertical-only-small menu">
            <% if user_signed_in? %>
              <li><%= menu_link_to "Ingelogd als #{current_user.email}", edit_user_registration_path %> </li>

            <li><%= link_to "Uitloggen", destroy_user_session_path, method: :delete, class:"alert" %> </li>
            <% else %>
            <li><%= link_to "Inloggen", new_user_session_path %> </li>

            <% end%>
            <% if current_user && current_user.qkunst? %>
              <li id="online-statuses">
                <a href="/debug-offline?offline=offline" data-turbo="false" class="online-status" id="online-status-offline" title="onlinestatus: offline"></a>
                <a href="/debug-offline?offline=offline" data-turbo="false" class="online-status" id="online-status-offline-page-online" title="onlinestatus: offline"></a>
                <a href="/debug-offline?offline=offline" data-turbo="false" class="online-status" id="online-status-uncertain" title="onlinestatus: onduidelijk"></a>
                <a href="/debug-offline?offline=offline" data-turbo="false" class="online-status" id="online-status-online" title="onlinestatus: online"></a>
              </li>
            <% end %>
          </ul>

        </div>
      </div>

    </nav>

   <% if notice %><div data-closable class="callout primary"><%= notice %>   <button class="close-button" aria-label="Sluit melding" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button></div><% end %>
   <% if alert || @alert %><div data-closable class="callout alert"><%= alert || @alert %>   <button class="close-button" aria-label="Sluit waarschuwing" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button></div><% end %>
      <div class="row">
        <main class="large-12 columns" id="content">
          <% if @collection and @collection.name %>
            <%= render partial: 'collections/subnav'%>
            <% if request.path.match(/\/manage\//) || @manage_controller %>
              <%= render partial: 'collections/manage_subnav'%>
            <% end %>
          <% end %>
          <%= yield %>

         </main>
       </div>
     <footer class="">
       <div class="row columns">
          <%= yield(:footer)%>
       </div>
     </footer>
     <div id="context-container" class="closed">
     </div>
  </body>
</html>
